<div class="online_recreation_channels p-5 text-center">
  <p class="introduce_channel fw-bold w-50 mx-auto">一斉配信チャンネルの紹介サイトは<a href="https://channel.everyplus.jp/" target="_blank">こちら</a></p>
  <h4 class="main_header mt-5 fw-bold pb-2"><%= formatted_period(@online_recreation_channel.period) %>のカレンダー</h4>

  <% if @online_recreation_channel.calendar_pdf? || @online_recreation_channel.calendar_image? %>
    <div class="d-flex  justify-content-center">
      <p class="p-2">カレンダーダウンロード</p>
      <p class="p-2"><%= link_to "PDF", @online_recreation_channel.calendar_pdf.url, target: :_blank %></p>
      <p class="p-2"><%= link_to "PNG", @online_recreation_channel.calendar_image.url, target: :_blank %></p>
    </div>
  <% end %>

  <% if @online_recreation_channel.calendar_memo? %>
    <div class="w-50 mx-auto">
      <p><%= simple_format(@online_recreation_channel.calendar_memo) %></p>
    </div>
  <% end %>
  <div>
    <%= image_tag @online_recreation_channel.top_image.to_s, width: 700, height: 700, class: "img-fluid mt-5" %>
  </div>

<h4 class="main_header mt-5 fw-bold pb-2"><%= formatted_period(@online_recreation_channel.period) %>の配信スケジュール</h4>

  <% if @online_recreation_channel.flyer_pdf? || @online_recreation_channel.flyer_image? %>
    <div class="d-flex  justify-content-center">
      <p class="p-2">チラシダウンロード</p>
      <p class="p-2"><%= link_to "PDF", @online_recreation_channel.flyer_pdf.url, target: :_blank %></p>
      <p class="p-2"><%= link_to "PNG", @online_recreation_channel.flyer_image.url, target: :_blank %></p>
    </div>
  <% end %>

  <% if @online_recreation_channel.zoom_memo? %>
    <div class="w-50 mx-auto">
      <p><%= sanitize_text_link(simple_format(@online_recreation_channel.zoom_memo)) %></p>
    </div>
  <% end %>
  <table class="mt-5 border mx-auto w-50">
    <% @online_recreation_channel.online_recreation_channel_recreations.order(date: :asc).each do |channel_recs| %>
      <tr>
        <td class="text-start py-2 px-4 border w-50">
          <p class="mb-0"><%= formatted_date(channel_recs.date) %></p>
          <p class="mb-0 fw-bold"><%= channel_recs.title %></p>
          <p class="mb-0">
            <%= sanitize_link(channel_recs.link) %>
          </p>
          <% if channel_recs.memo %>
            <p class="mb-0">備考：<%= channel_recs.memo %></p>
          <% end %>
        </td>
        <td class="text-start py-2 px-4 border w-50">
          <% if channel_recs.zoom_link? %>
            <%= sanitize_text_link(simple_format(channel_recs.zoom_link)) %>
          <% else %>
            <p class="mb-0">zoomリンク公開まで暫くお待ちください</p>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
