<%= simple_form_for report, url: url do |f| %>
  <h4 class="text-black font-weight-bold">項目を入力してください</h4>
  <div>
    <p class="pt-2 pb-2 w-25 border-bottom text-black w-100">追加で参加した施設数</p>
    <%= f.input :number_of_facilities, label: false %>
    <span class="pt-2 pb-2 w-25">オンラインの場合、2施設目から追加で参加した施設数を数字で記入してください。追加1施設あたり+<%= report.order.additional_facility_fee - 1000 %>が謝礼に追加されます。</span>
  </div>

  <div>
    <p class="pt-2 pb-2 w-25 border-bottom text-black w-100">参加人数</p>
    <%= f.input :number_of_people, label: false %>
    <span class="pt-2 pb-2 w-25">参加人数をもとに材料費を算出します。</span>
  </div>

  <div>
    <p class="pt-2 pb-2 w-25 border-bottom text-black w-100">交通費</p>
    <%= f.input :transportation_expenses, label: false %>
  </div>

  <div>
    <p class="pt-2 pb-2 w-25 border-bottom text-black w-100">諸経費</p>
    <%= f.input :expenses, label: false %>
    <span class="pt-2 pb-2 w-25">
      交通費、諸経費は施設から事前承認があった場合のみ請求が可能です。諸経費については記載金額から10%引かれた金額が入金されます。
    </span>
  </div>

  <div>
    <p class="pt-2 pb-2 w-25 border-bottom text-black w-100">施設へのメッセージ</p>
    <%= f.input :body,
                label: false,
                input_html: { rows: 5 },
                placeholder: "施設への感謝のメッセージや感想などをお書きください。\n例)この度は、敬老の日という特別な日に開催をいただきありがとうございます。\nまた、老人ホームえぶりプラスの皆さまにお会いできることを楽しみにしています。" %>
  </div>
  <div class="border m-2 p-2">
    <h4 class="text-black font-weight-bold">受取額</h4>
    <table class="w-100">
      <thead>
      <tr class="border-bottom">
        <td class="pt-2 pb-2 text-black w-75">開催費</td>
        <td class="pt-2 pb-2 text-black"><%= number_to_currency @order.regular_price %></td>
      </tr>
      <tr class="border-bottom">
        <td class="pt-2 pb-2 text-black w-75">材料費/<%= @order.number_of_people %>人<br><span class="text-secondary">※材料費は人数分の費用が発生します。</span></td>
        <td class="pt-2 pb-2 text-black"><%= number_to_currency @order.total_material_price_for_partner %></td>
      </tr>
      <tr class="border-bottom">
        <td class="pt-2 pb-2 text-black w-75">交通費</td>
        <td class="pt-2 pb-2 text-black"><%= number_to_currency @order.transportation_expenses %></td>
      </tr>
      <tr class="border-bottom">
        <td class="pt-2 pb-2 text-black w-75">諸経費</td>
        <td class="pt-2 pb-2 text-black"><%= number_to_currency @order.expenses_for_partner %></td>
      </tr>
      <tr class="border-bottom">
        <td class="pt-2 pb-2 text-black w-75">追加施設費/追加施設数 <%= @order.number_of_facilities %>施設<br><span class="text-secondary">※1施設追加する事に費用が発生します。</span>
        </td>
        <td id="facilityCount" class="pt-2 pb-2 text-black">
            <%= number_to_currency @order.total_facility_price_for_partner %>
        </td>
      </tr>
      <tr class="border-bottom text-black font-weight-bold">
        <td class="pt-2 pb-2">合計(税込)</td>
        <td class="pt-2 pb-2"><%= number_to_currency @order.total_price_for_partner %></td>
      </tr>
      </thead>
    </table>
  </div>
  <div class="m-2 p-2 bg-light">
    <p class="text-black font-weight-bold pt-2">※振込について</p>
    <p class="text-black">
      振込は終了後、翌々月の月末に行われます。土・日・祝日の場合は次の営業日となります。
    </p>
  </div>
  <div class="p-2 mt-2">
    <p class="text-black">一度送信した終了報告は修正ができません。よくご確認の上、送信ボタンを押してください。</p>
  </div>
  <div class="col-md-12 text-center">
    <%= f.submit '終了報告を送信する', class: 'btn btn-primary btn-lg btn-block w-100 p-3 mb-2' %>
  </div>
<% end %>
