<section class="col-sm-6 col-md-4 col-lg-3 mb-4">
  <div class="card recreation-card h-100 shadow text-decoration-none">
    <%= link_to customers_recreation_path(rec.id), class: "card-img-top zoom" do %>
      <picture loading="lazy">
        <%= image_tag rec.recreation_images.first&.image.to_s, class: "img-fluid" %>
      </picture>
    <% end %>

    <%= link_to customers_recreation_path(rec.id), class: "card-body card-body-main p-2 pb-0" do %>
      <h1 class="card-title mb-0">
        <p><%= rec.title %></p>
      </h1>
    <% end %>

    <div class="card-body card-body-tag px-2 py-1">
      <%= tags_to_html(rec.tags.categories_and_tags) %>
    </div>
    <div class="card-body card-body-info px-2 py-1">
      <div class="d-md-flex mb-2 align-items-center justify-content-between">
        <div class="">
          <i class="material-icons every">query_builder</i>
          <span class="value"><%= rec.minutes %></span>
        </div>
        <div class="">
          <% if user_signed_in? %>
            <i class="price-mark">￥</i>
            <% if rec.is_public_price %>
              <span class="value"><%= price_pipe(rec.regular_price) %></span>
            <% else %>
              <span class="value">お問い合わせ下さい</span>
            <% end %>
          <% else %>
            <i class="price-mark">￥</i>
            <span class="value">会員のみ</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
