<div class="card recreation-card h-100 shadow text-decoration-none">
  <%= link_to customers_recreation_path(rec.id), class: "card-img-top zoom" do %>
    <picture loading="lazy">
      <%= image_tag rec.recreation_images.sliders.first&.image.to_s, class: 'img-fluid position-relative', loading: 'lazy' %>
    </picture>
  <% end %>

  <% if user_signed_in? %>
    <% if current_user.role.customer? %>
      <div class="favorite-wrapper text-center w-100">
        <p class="desc-favorite fw-bold pt-3">お気に入りに追加</p>
        <div class="favorite-icon mx-auto" id='favoriteIcon_<%= rec.id %>'></div>
      </div>
    <% end %>
  <% end %>

  <%= link_to customers_recreation_path(rec.id), class: "card-body card-body-main p-2 pb-0" do %>
    <h1 class="card-title mb-0">
      <p><%= rec.title %></p>
    </h1>
  <% end %>

  <div class="d-flex align-items-center">
    <div class="card-body card-body-tag px-2 py-1">
      <%= tag_to_html(rec) %>
    </div>
  </div>

  <div class="">
    <div class="">
      <div class="card-body link-text px-2 py-1">
        <div class="link-text d-flex mb-1">
          <%= image_pack_tag 'ribbon.svg', class: "logo-navbar", width: "18", height: "18" %>
          <p class="ms-1 mb-0">開催回数<%= rec.number_of_recreations_held %>件</p>
        </div>
        <div class="link-text d-flex mb-1">
          <%= image_pack_tag 'flag.svg', class: "logo-navbar", width: "18", height: "18" %>
          <p class="ms-1 mb-0"><%= t("enumerize.recreation.kind.#{rec.kind}")%></p>
        </div>
        <div class="link-text d-flex mb-1">
          <%= image_pack_tag 'location.svg', class: "logo-navbar", width: "18", height: "18" %>
          <% if rec.kind.visit? && rec.recreation_prefectures.exists? %>
            <% rec.recreation_prefectures.take(3).each do |prefecture| %>
              <p class="ms-1 mb-0"><%= prefecture.name %></p>
            <% end %>
            <% if rec.recreation_prefectures.size > 3 %>
              <p class="ms-1 mb-0">+<%= rec.recreation_prefectures.size - 3 %></p>
            <% end %>
          <% elsif rec.kind.mailing? %>
            <p class="ms-1 mb-0">全国</p>
          <% else %>
            <p class="ms-1 mb-0">-</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body card-body-info px-2 py-1 border-top mt-1">
    <div class="d-md-flex my-1 align-items-center">
      <% if rec.user.approval_status.approved? %>
        <div class="mx-md-2">
          <i class="fas fa-solid fa-check"></i>
          <span class="value">面談済</span>
        </div>
      <% end %>
      <div class="">
        <% if rec.is_public_price %>
          <span class="value"><%= price_pipe(rec&.price, current_user) %></span>
        <% else %>
          <span class="value">お問い合わせ下さい</span>
        <% end %>
      </div>
    </div>
  </div>
</div>
