<%
    categories = [
      { id: 2, name: '音楽', value: 'music' },
      { id: 3, name: '健康', value: 'health' },
      { id: 5, name: '趣味', value: 'hobby' },
      { id: 1, name: '創作', value: 'work' },
      { id: 4, name: '旅行', value: 'travel' },
      { id: 6, name: '飲食', value: 'food' },
      { id: 0, name: 'イベント', value: 'event' },
      { id: 7, name: 'その他', value: 'other' },
    ]
    prices = [
      { value: '0-10000', text: '0~ 10,000円' },
      { value: '10001-20000', text: '10,001~ 20,000円' },
      { value: '20001-30000', text: '20,001~ 30,000円' },
      { value: '30000-', text: '30,000円以上' },
    ]
%>

<h5 class="mt-3 fw-bold text-black d-none d-lg-block">レクを条件から探す</h5>
<article class="container px-5 w-100 border rounded shadow">
  <div class="row">
    <div class="col-4">
      <p class="mt-5 fw-bold text-black d-none d-lg-block">形式から探す</p>
      <div class="col">
        <% kinds.each do |kind| %>
          <%= link_to(t("enumerize.recreation.kind.#{kind}"), "#", class: 'my-1 me-3 px-1 tag-label font-weight-bold d-inline-block') %>
        <% end %>
      </div>
    </div>
    <div class="col-4">
      <p class="mt-5 fw-bold text-black d-none d-lg-block">金額から探す</p>
      <div class="col">
        <% prices.each do |price| %>
          <%= link_to("#{price[:text]}", "#", class: 'my-1 me-3 px-1 tag-label font-weight-bold d-inline-block') %>
        <% end %>
      </div>
    </div>
    <div class="col-4">
      <p class="mt-5 fw-bold text-black d-none d-lg-block">カテゴリから探す</p>
      <div class="col">
        <% categories.each do |category| %>
          <%= category_to_html(category) %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="">
      <p class="mt-5 fw-bold text-black d-none d-lg-block">都道府県から探す</p>
      <div class="col">
        <% prefectures.each do |prefecture| %>
          <%= link_to("#{prefecture}", "#", class: 'my-1 me-3 px-1 tag-label font-weight-bold d-inline-block') %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row mb-5">
    <div class="">
      <p class="mt-5 fw-bold text-black d-none d-lg-block">タグから探す</p>
      <div class="col">
        <% tags.each do |tag| %>
          <%= link_to("##{tag.name}", customers_recreations_path(q: { tags_id_eq: tag.id }), class: 'my-1 me-3 px-1 tag-label font-weight-bold d-inline-block') %>
        <% end %>
      </div>
    </div>
  </div>
</article>
