<div class="header-block">
  <%= render 'shared/partner/header_with_link', title: "#{@order.recreation.profile_name}", path: partners_path(is_open: true) %>
  <%= link_to partners_order_path(id: @order.id, is_accepted: @order.is_accepted) do %>
    <div class="sub_header p-3">
      <div class="d-flex">
        <div class="flex-grow-1">
          レクリエーション・料金の確認
        </div>

        <div class="flex-grow-1">
          依頼詳細
          <i class="fas fa-chevron-right"></i>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="chat">
  <%= render 'shared/partner/order/chat', order: @order %>
</div>

<div class="chat_form border-top">
  <%= simple_form_for @chat, url: partners_order_chats_path(@order.id) do |f| %>
    <div class="m-1 w-75">
      <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
      <div>
        ※ファイルサイズは20MBが上限で、PDF/PowerPoint/JPEG/jpg/png形式に対応しております
      </div>
      <div class="file">
        <%= f.input :file, as: :file, label: false, input_html: { class: "form-control" } %>
      </div>
      <div class="d-flex mt-2">
        <div class="flex-grow-1">
          <%= f.input :message, as: :text, label: false, input_html: { class: "form-control" } %>
        </div>
        <%= f.submit '送信' %>
      </div>
    </div>
  <% end %>
</div>
