<div class="header-block">
  <div class="header">
    <div>
      <h2 class="text-white font-weight-bold p-2">
        <%= link_to partners_path do %>
          <i class="fas fa-arrow-left text-white"></i>
        <% end %>
        <%= @order.recreation.instructor_name %>
      </h2>
    </div>
  </div>
  <div class="sub_header p-3">
    <div class="d-flex">
      <div class="flex-grow-1">
        レクリエーション・料金の確認
      </div>

      <div class="flex-grow-1">
        <%= price_pipe(@order.recreation.regular_price) %>
        <%= link_to partners_order_path(@order.id) do %>
          <i class="fas fa-chevron-right"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="chat card-body">
  <%#= render 'shared/partner/order/chat', order: @order %>
</div>

<div class="chat_form border-top">
  <%= simple_form_for @chat, url: partners_chats_path do |f| %>
    <div class="m-1 chat-wrapper">
      <%= f.input :order_id, as: :hidden, input_html: { value: @chat.order_id } %>
      <%#= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>

      <div class="message d-flex">
        <%= f.input :message, as: :text, label: false, input_html: { class: "form-control chat-message" } %>
        <%= f.submit '送信' %>
      </div>
    </div>
  <% end %>
</div>
