<% path = @order.is_accepted ? partners_order_path(id: @order.id, is_accepted: @order.is_accepted) : chat_partners_order_path(@order.id) %>
<%= render 'shared/partner/header_with_link', title: "#{@order.recreation.profile_name}", path: path %>

<div class="body bg-white border p-3 mb-3">
  <h4 class="text-black font-weight-bold">施設情報</h4>
  <table class="w-100">
    <thead>
    <tr class="border-bottom">
      <td class="pt-2 pb-2 w-25">施設名</td>
      <td class="pt-2 pb-2 text-black text-end">
        <%= @order.user.company.facility_name %>
      </td>
    </tr>
    <tr class="border-bottom">
      <td class="pt-2 pb-2 w-25">法人名</td>
      <td class="pt-2 pb-2 text-black text-end">
        <%= @order.user.company.name %>
      </td>
    </tr>
    <tr class="border-bottom">
      <td class="pt-2 pb-2 w-25">事業所種別</td>
      <td class="pt-2 pb-2 text-black text-end">
        <%= @order.user.company.genre_text %>
      </td>
    </tr>
    <tr class="border-bottom">
      <td class="pt-2 pb-2 w-25">電話番号</td>
      <td class="pt-2 pb-2 text-black text-end">
        <%= @order.user.company.tel %>
      </td>
    </tr>
    <tr class="border-bottom">
      <td class="pt-2 pb-2 w-25">施設の特徴</td>
      <td class="pt-2 pb-2 text-black text-end">
        <%= @order.user.company.feature %>
      </td>
    </tr>
    <tr class="border-bottom">
      <td class="pt-2 pb-2 w-25">HP</td>
      <td class="pt-2 pb-2 text-black text-end">
        <%= link_to @order.user.company.url, @order.user.company.url, target: '_blank'%>
      </td>
    </tr>
    <tr class="border-bottom">
      <td class="pt-2 pb-2 w-25">施設定員</td>
      <td class="pt-2 pb-2 text-black text-end">
        <%= @order.user.company.capacity %>
        人
      </td>
    </tr>
    <tr class="border-bottom">
      <td class="pt-2 pb-2 w-25">平均介護度</td>
      <td class="pt-2 pb-2 text-black text-end">
        <%= @order.user.company.nursing_care_level %>
      </td>
    </tr>
    <tr class="border-bottom">
      <td class="pt-2 pb-2 w-25">レクへの要望</td>
      <td class="pt-2 pb-2 text-black text-end">
        <%= @order.user.company.request %>
      </td>
    </tr>
    <tr class="border-bottom">
      <td class="pt-2 pb-2 w-25">貸出可能品</td>
      <td class="pt-2 pb-2 text-black text-end">
        <%= @order.user.company.tags.map(&:name).join(', ') %>
      </td>
    </tr>
    <tr class="border-bottom">
      <td class="pt-2 pb-2 w-25">担当者</td>
      <td class="pt-2 pb-2 text-black text-end">
        <%= @order.user.company.person_in_charge_name %>
      </td>
    </tr>
    <tr class="border-bottom">
      <td class="pt-2 pb-2 w-25">住所</td>
      <td class="pt-2 pb-2 text-black text-end">
        <%= @order.user.company.full_address %>
      </td>
    </tr>
    </tbody>
  </table>

  <% if @order&.zoom&.present? %>
    <div>
      <h4 class="text-black font-weight-bold pt-3">Zoom情報</h4>
      <div class="pt-2 pb-2 text-black text-end">
        <%= Rinku.auto_link(simple_format(h(@order.zoom_url)), :all, 'target="_blank"').html_safe %>
      </div>
    </div>
  <% end %>
  <div>
    <h4 class="text-black font-weight-bold pt-3">レク情報</h4>
    <table class="w-100">
      <thead>
      <tr class="border-bottom">
        <td class="pt-2 pb-2 w-25">レク名</td>
        <td class="pt-2 pb-2 text-black text-end">
          <%= @order.recreation_title %>
        </td>
      </tr>
      <tr class="border-bottom">
        <td class="pt-2 pb-2 w-25">レク環境</td>
        <td class="pt-2 pb-2 text-black text-end">
          <%= @order.recreation.kind_text %>
        </td>
      </tr>
      <tr class="border-bottom">
        <td class="pt-2 pb-2 w-25">ステータス</td>
        <td class="pt-2 pb-2 text-black text-end">
          <%= I18n.t("partner.order.status.#{@order.status}") %>
        </td>
      </tr>
      <tr class="border-bottom">
        <td class="pt-2 pb-2 w-25">開催日時</td>
        <td class="pt-2 pb-2 text-black text-end">
          <%= @order.desired_time %>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="border m-2 p-2">
    <h4 class="text-black font-weight-bold">受取額</h4>
    <table class="w-100">
      <thead>
      <tr class="border-bottom">
        <td class="pt-2 pb-2 text-black w-75">開催費</td>
        <td class="pt-2 pb-2 text-black text-end">
          <%= number_to_currency(@order.amount) %>
        </td>
      </tr>
      <tr class="border-bottom">
        <td class="pt-2 pb-2 text-black w-75">材料費(合計)</td>
        <td class="pt-2 pb-2 text-black text-end">
          <%= number_to_currency(@order.total_material_price_for_partner) %>
        </td>
      </tr>
      <tr class="border-bottom">
        <td class="pt-2 pb-2 text-black w-75">材料費/名</td>
        <td class="pt-2 pb-2 text-black text-end">
          <%= number_to_currency(@order.material_amount) %>
        </td>
      </tr>
      <tr class="border-bottom">
        <td class="pt-2 pb-2 text-black w-75">参加人数</td>
        <td class="pt-2 pb-2 text-black text-end">
          <%= @order.number_of_people %>人
        </td>
      </tr>
      <tr class="border-bottom">
        <td class="pt-2 pb-2 text-black w-75">交通費</td>
        <td class="pt-2 pb-2 text-black text-end">
          <%= number_to_currency(@order.transportation_expenses) %>
        </td>
      </tr>
      <tr class="border-bottom">
        <td class="pt-2 pb-2 text-black w-75">諸経費</td>
        <td class="pt-2 pb-2 text-black text-end">
          <%= number_to_currency(@order.expenses_for_partner) %>
        </td>
      </tr>
      <tr class="border-bottom">
        <td class="pt-2 pb-2 text-black w-75">施設追加費用(合計)</td>
        <td class="pt-2 pb-2 text-black text-end">
          <%= number_to_currency(@order.total_facility_price_for_partner) %>
        </td>
      </tr>
      <tr class="border-bottom">
        <td class="pt-2 pb-2 text-black w-75">施設追加費用/施設</td>
        <td class="pt-2 pb-2 text-black text-end">
          <%= number_to_currency(@order.additional_facility_fee_for_partner) %>
        </td>
      </tr>
      <tr class="border-bottom">
        <td class="pt-2 pb-2 text-black w-75">施設追加数</td>
        <td class="pt-2 pb-2 text-black text-end">
          <%= @order.number_of_facilities %>施設
        </td>
      </tr>
      <tr class="border-bottom">
        <td class="pt-2 pb-2 text-black w-75">Zoom ID発行料</td>
        <td class="pt-2 pb-2 text-black text-end">
          -<%= number_to_currency(@order.zoom_cost) %>
        </td>
      </tr>
      <tr class="border-bottom text-black font-weight-bold">
        <td class="pt-2 pb-2">合計(税込)</td>
        <td class="pt-2 pb-2 text-end">
          <%= number_to_currency(@order.total_price_for_partner) %>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-12">
    <% if @order.start_at? && !@order.is_accepted %>
      <p>施設から正式依頼が届いた場合、次へ進むことができます。</p>
      <div class="text-center my-3">
        <%= link_to '正式依頼の内容を確認する', confirm_partners_order_path(@order.id), class: 'text-white btn btn-primary btn-lg btn-block w-75 p-3' %>
      </div>
    <!-- 日字指定 && 承認していない || 日時が未来 && 承認した -->
    <% elsif (@order.start_at.blank? && !@order.is_accepted) || (@order.start_at >= Time.current && @order.is_accepted) %>
    <!--開始時間が過ぎている && レポートがない -->
    <% elsif @order.start_at <= Time.current && @order.report.blank? %>
      <% path = @order.report.blank? ? new_partners_order_report_path(@order.id) : edit_partners_order_report_path(id: @order.report.id, order_id: @order.id) %>
      <div class="text-center my-3">
        <%= link_to '終了報告をする', path, class: 'mx-auto text-white btn btn-primary btn-lg btn-block w-75 p-3' %>
      </div>
    <% elsif @order.start_at <= Time.current && @order.report.present? %>
      <div class="text-center my-3">
        <button class="text-white btn btn-secondary btn-lg btn-block w-75 p-3 disabled">終了報告済みです</button>
      </div>
      <div class="my-3 p-3 rounded" style="background-color: #dcdcdc">
        <p>※振込について</p>
        振込は翌々月末に行われます。土日祝日の場合次の営業日となります。
      </div>
    <% else %>
      <div class="text-center my-3">
        <button class="text-white btn btn-secondary btn-lg btn-block w-75 p-3 disabled">正式依頼の内容を確認する</button>
      </div>
    <% end %>
  </div>

  <% if @order.is_open? %>
    <div class="col-md-12">
      <div class="text-center my-3">
        <%= button_to 'この相談を終了する', partners_order_path(@order), params: { order: { is_open: false } }, method: :put, data: { confirm: "この相談を終了しますか？終了すると、開催の相談一覧では非表示となります" }, class: 'text-white btn btn-danger btn-lg btn-block w-75 p-3' %>
      </div>
    </div>
  <% end %>

  <% if !@order.is_open? %>
    <div class="col-md-12">
      <div class="text-center my-3">
        <%= button_to 'この相談を再開する', partners_order_path(@order), params: { order: { is_open: true } }, method: :put, data: { confirm: "この相談を再開しますか？" }, class: 'text-white btn btn-primary btn-lg btn-block w-75 p-3' %>
      </div>
    </div>
  <% end %>
</div>
