<div class="header">
  <div>
    <h2 class="text-white font-weight-bold p-2">
      <%= link_to chat_partners_order_path(@order.id) do %>
        <i class="fas fa-arrow-left text-white"></i>
      <% end %>
      <%= @order.recreation.instructor_name %>
    </h2>
    <%= render 'shared/partner/sidebar_toggle' %>
  </div>
</div>
<div class="body bg-white border p-3 mb-3">
  <h4 class="text-black font-weight-bold">施設情報</h4>
  <table class="w-100">
    <thead>
    <tr class="border-bottom">
      <td class="pt-2 pb-2 w-25">施設名</td>
      <td class="pt-2 pb-2 text-black text-end">
        <%= @order.user.company.name %>
      </td>
    </tr>
    <tr class="border-bottom">
      <td class="pt-2 pb-2 w-25">担当者</td>
      <td class="pt-2 pb-2 text-black text-end">
        <%= @order.user.company.person_in_charge_name %>
      </td>
    </tr>
    <tr class="border-bottom">
      <td class="pt-2 pb-2 w-25">住所</td>
      <td class="pt-2 pb-2 text-black text-end">
        <%= @order.user.company.full_address %>
      </td>
    </tr>
    </tbody>
  </table>
  <div>
    <h4 class="text-black font-weight-bold pt-3">レク情報</h4>
    <table class="w-100">
      <thead>
      <tr class="border-bottom">
        <td class="pt-2 pb-2 w-25">レク名</td>
        <td class="pt-2 pb-2 text-black text-end">
          <%= @order.recreation.title %>
        </td>
      </tr>
      <tr class="border-bottom">
        <td class="pt-2 pb-2 w-25">レク環境</td>
        <td class="pt-2 pb-2 text-black text-end">
          <%= @order.recreation.is_online ? 'オンライン' : 'オフライン' %>
        </td>
      </tr>
      <tr class="border-bottom">
        <td class="pt-2 pb-2 w-25">ステータス</td>
        <td class="pt-2 pb-2 text-black text-end">
          <%= I18n.t("partner.order.status.#{@order.status}") %>
        </td>
      </tr>
      <tr class="border-bottom">
        <td class="pt-2 pb-2 w-25">開催日時</td>
        <td class="pt-2 pb-2 text-black text-end">
          <%= @order.desired_time %>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="border m-2 p-2">
    <h4 class="text-black font-weight-bold">レク費用</h4>
    <table class="w-100">
      <thead>
      <tr class="border-bottom">
        <td class="pt-2 pb-2 text-black w-75">開催費</td>
        <td class="pt-2 pb-2 text-black text-end">¥
          <%= number_to_currency @order.instructor_amount %>
        </td>
      </tr>
      <tr class="border-bottom">
        <td class="pt-2 pb-2 text-black w-75">材料費/1人あたり<br><span class="text-secondary">※材料費は人数分の費用が発生します。</span></td>
        <td class="pt-2 pb-2 text-black text-end">¥
          <%= number_to_currency @order.instructor_material_amount %>
        </td>
      </tr>
      <tr class="border-bottom">
        <td class="pt-2 pb-2 text-black w-75">交通費</td>
        <td class="pt-2 pb-2 text-black text-end">¥
          <%= number_to_currency @order.transportation_expenses %>
        </td>
      </tr>
      <tr class="border-bottom">
        <td class="pt-2 pb-2 text-black w-75">諸経費</td>
        <td class="pt-2 pb-2 text-black text-end">¥
          <%= number_to_currency @order.expenses_for_partner %>
        </td>
      </tr>
      <tr class="border-bottom">
        <td class="pt-2 pb-2 text-black w-75">追加施設費/追加施設 <%= @order.number_of_facilities %>施設<br>※1施設追加する事に費用が発生します。
        </td>
        <td class="pt-2 pb-2 text-black text-end">
            <%= number_to_currency @order.total_facility_price_for_partner %>
        </td>
      </tr>
      <tr class="border-bottom text-black font-weight-bold">
        <td class="pt-2 pb-2">合計(税込)</td>
        <td class="pt-2 pb-2 text-end">¥
          <%= number_to_currency @order.total_price_for_partner %></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div>
    <p class="text-black font-weight-bold pt-2">注意事項</p>
    <ul>
      <li>材料費が発生するなど人数確認が必要なレクの場合、期日までに参加人数の確認の依頼をお願い致します。</li>
      <li>施設から期日までに連絡がない場合は、施設に確認のご連絡をお願い致します。</li>
    </ul>
    <p>施設から正式依頼が届いた場合、次へ進むことができます。</p>

    <% if @order&.report&.id.present? %>
      <%= link_to 'レポートはこちら', edit_partners_order_report_path(order_id: @order.id, id: @order.report.id) %>
    <% else %>
      <%= link_to 'レポートはこちら', new_partners_order_report_path(@order.id) %>
    <% end %>


  </div>
  <div class="col-md-12 text-center">
    <% if @order.start_at.present? && !@order.is_accepted %>
      <%= link_to '正式依頼の内容を確認する', confirm_partners_order_path(@order.id), class: 'text-white btn btn-primary btn-lg btn-block w-75 p-3' %>
    <% elsif @order.start_at.blank? && !@order.is_accepted %>
      <button class="text-white btn btn-secondary btn-lg btn-block w-75 p-3 disabled">正式依頼の内容を確認する</button>
    <% elsif @order.start_at.present? && @order.is_accepted %>
      <button class="text-white btn btn-secondary btn-lg btn-block w-75 p-3 disabled">承認済みです</button>
    <% end %>
  </div>
</div>
