<%= render 'shared/customer/header' %>

<div class="user_recreation_plan_index">
  <div class="container">
    <div class="row border-bottom">
      <div class="col-3 py-2">番号</div>
      <div class="col-6 py-2">プラン内容</div>
      <div class="col-3 py-2"></div>
    </div>
    <% @user_recreation_plans.each do |urp| %>
      <div class="row my-3 py-3 bg-white">
        <div class="col-3"><%= urp.code %></div>
        <div class="col-6">
          <%= link_to urp.recreation_plan.title, customers_user_recreation_plan_path(urp.id), class: 'text-black fw-bold fw-bold text-decoration-none' %>
        </div>
        <div class="col-3 text-end">
          <%= link_to customers_user_recreation_plan_path(urp.id) do %>
            <button className='show-link-button p-2 rounded'>
              詳細を確認
            </button>
          </div>
        <% end %>
      </div>
    <% end %>
    <%= paginate @user_recreation_plans %>
  </div>
</div>
