<header class="d-flex justify-content-between align-items-center py-2">
  <div class="d-flex align-items-center w-25">
    <%= image_pack_tag 'menu.svg', id: "hamburger", class: "logo-navbar", width: "30", height: "30" %>
  </div>
  <h2 class="flex-grow-1 text-center text-black mb-0">案件一覧</h2>
  <div class="d-flex align-items-center w-25">
    <%= image_pack_tag 'question.svg', class: "logo-navbar", width: "25", height: "25" %>
  </div>
</header>

<div class="order">
  <nav class="nav nav-tabs justify-content-between my-3 shadow-sm">
    <a class="nav-link flex-fill py-2 text-center active" href="#consulting" data-bs-toggle="tab">相談中</a>
    <a class="nav-link flex-fill py-2 text-center" href="#confirmed" data-bs-toggle="tab">開催決定</a>
    <a class="nav-link flex-fill py-2 text-center" href="#finished" data-bs-toggle="tab">終了</a>
  </nav>

  <div class="tab-content h-100">
    <div class="tab-pane fade show active" id="consulting">
      <% @orders.where(status: [
          'in_progress',
          'waiting_for_a_reply_from_partner',
          'waiting_for_a_reply_from_facility',
          'facility_request_in_progress',
          'request_denied'
        ]).each do |order| %>
        <%= render 'shared/partner/order/card', order: order %>
      <% end %>
    </div>

    <div class="tab-pane fade" id="confirmed">
      <% @orders.where(status: 'waiting_for_an_event_to_take_place').each do |order| %>
        <%= render 'shared/partner/order/card', order: order %>
      <% end %>
    </div>

    <div class="tab-pane fade" id="finished">
      <% @orders.where(status: [
          'unreported_completed',
          'final_report_admits_not',
          'finished',
          'invoice_issued',
          'paid',
          'canceled',
          'travled'
        ]).each do |order| %>
        <%= render 'shared/partner/order/card', order: order %>
      <% end %>
    </div>
  </div>

  <!-- 絞り込みボタン -->
  <button type="button" class="btn btn-white text-primary fw-bold border filter-btn py-2 shadow-sm pe-auto" data-bs-toggle="modal" data-bs-target="#filterModal">
    絞り込み
  </button>

  <%= render 'shared/partner/order/search_modal', recreations: @recreations, customers: @customers %>
</div>
