<div class="modal fade" id="orderModal" tabindex="-1" aria-labelledby="orderModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="orderModalLabel">正式依頼フォーム</h5>
        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
      </div>
      <div class="modal-body p-2">
        <%= simple_form_for order, url: customers_order_path(order.id), html: { class: 'order h-adr' } do |f| %>
          <%= f.input :status, as: :hidden, input_html: { value: :facility_request_in_progress } %>
          <div class="container-fluid">
            <div class="row pb-3">
              <div class="col-auto">
                <h3 class="title-b p-0">開催したい希望日と時間を選択してください
                  <span class="label required">必須</span>
                </h3>
                <span class="text-muted">
                  パートナー都合で希望日時の開催が難しい場合がございます。事前にチャットでの開催日時の相談をお願いします。
                </span>
              </div>
            </div>
            <%= f.fields_for :order_dates do |ff| %>
              <div class="date-form">
                <div class="row">
                  <div class="col-12">希望日</div>
                  <div class="form-group col-3">
                    <%= ff.collection_select :year, Year.all, :value, :value , { prompt: '-' }, class:'form-control' %>
                  </div>
                  <div class="col-auto p-0 flex-v-c">年</div>
                  <div class="form-group col-3">
                    <%= ff.collection_select :month, Month.all, :value , :value , { prompt: '-' }, class:'form-control' %>
                  </div>
                  <div class="col-auto p-0 flex-v-c">月</div>
                  <div class="form-group col-3">
                    <%= ff.collection_select :date, Day.all, :value , :value , { prompt: '-' }, class:'form-control' %>
                  </div>
                  <div class="col-auto p-0 flex-v-c">日</div>
                </div>
                <div class="row">
                  <div class="col-12">希望時間</div>
                  <div class="form-group col-2 pe-0">
                    <%= ff.collection_select :start_hour, Hour.all, :value , :value , { prompt: '-' }, class:'form-control' %>
                  </div>
                  <div class="col-auto p-0 flex-v-c">:</div>
                  <div class="form-group col-2 pe-0">
                    <%= ff.collection_select :start_minute, Minute.all, :value , :value , { prompt: '-' }, class:'form-control' %>
                  </div>
                  <div class="col-auto p-0 flex-v-c">~</div>
                  <div class="form-group col-2 pe-0">
                    <%= ff.collection_select :end_hour, Hour.all, :value , :value , { prompt: '-' }, class:'form-control' %>
                  </div>
                  <div class="col-auto p-0 flex-v-c">:</div>
                  <div class="form-group col-2 pe-0">
                    <%= ff.collection_select :end_minute, Minute.all, :value , :value , { prompt: '-' }, class:'form-control' %>
                  </div>
                </div>
              </div>
            <% end %>
            <div class="row pt-3">
              <label class="col-12 title-b pb-3" for="participant">
                希望人数を入力してください
                <span class="label required">必須</span>
              </label>
              <div class="form-group col-3">
                <%= f.input :number_of_people, label: false, class: 'form-control text-right' %>
              </div>
              <div class="col-auto p-0 flex-v-c">人</div>
            </div>

            <% if order.recreation.is_online %>
              <div class="row pt-3">
                <label class="col-12 title-b pb-3" for="participant">
                  追加で参加する施設がある場合施設数をご記入ください
                  <span class="label required">必須</span>
                </label>
                <div class="form-group col-3">
                  <%= f.input :number_of_facilities, label: false, class: 'form-control text-right' %>
                </div>
                <div class="col-auto p-0 flex-v-c">施設</div>
              </div>
            <% end %>
            <!--            {{#if isOnline}}-->
            <!--            {{'オンラインレク'}}-->
            <!--            <div class="row pt-3">-->
            <!--              <label class="col-12 title-b pb-3"-->
            <!--                     for="facilityCount">追加で参加する施設がある場合施設数をご記入ください</label>-->
            <!--              <div class="form-group col-3">-->
            <!--                <input class="form-control {{facilityCountFormClass}}" id="facilityCount"-->
            <!--                       name="facilityCount" type="tel" placeholder="施設数を入力"-->
            <!--                       value="{{facilityCount}}">-->
            <!--              </div>-->
            <!--              <div class="col-auto p-0 flex-v-c">施設</div>-->
            <!--              {{#if hasError}}-->
            <!--              <div class="invalid-feedback d-block">-->
            <!--                <span>{{facilityCountError}}</span>-->
            <!--              </div>-->
            <!--              {{/if}}-->
            <!--            </div>-->
            <!--            {{else}}-->
            <div class="row pt-3">
              <span class="p-country-name" style="display:none;">Japan</span>
              <label class="col-12 title-b pb-3" for="participant">
                <span>住所を入力してください</span>
                <!--                {{order.postalCode}}-->
                <span class="label required">必須</span>
              </label>
              <div class="form-group col-6">
                <label for="postalCode">郵便番号</label>
                <div class="input-group mb-3">
                  <!-- TODO: 横幅いっぱいにする -->
                  <%= f.input :zip, label: false, class: 'form-control p-postal-code', placeholder: '郵便番号を入力' %>
                  <button id="searchAddressWithZipForOrder" class="btn btn-outline-secondary p-postal-code-find" type="button">検索</button>
                </div>
              </div>
              <div class="form-group col-6">
                <!-- NOTE: default値として設定している。 -->
                <%= f.input :prefecture, as: :select, collection: [[f.object.prefecture, f.object.prefecture]], class: 'form-select p-region' %>
              </div>
              <div class="form-group col-6">
                <%= f.input :city, as: :select, collection: [[f.object.city, f.object.city]], class: 'form-select p-region' %>
              </div>
              <div class="form-group col-6">
                <%= f.input :street, class: 'form-select p-street-address' %>
              </div>
              <div class="form-group col-12">
                <%= f.input :building, class: 'form-control' %>
              </div>
            </div>

            <div class="card mt-3">
              <div class="card-body">
                <h5 class="card-title title-b">レク 費用</h5>
                <div class="row justify-content-between border-bottom-dotted pb-2">
                  <div class="col-auto">開催費</div>
                  <div class="col-auto">&yen;
                    <%= order.regular_price %>
                  </div>
                </div>
                <div class="row justify-content-between border-bottom-dotted py-2">
                  <div class="col-auto">
                    <span id="participantNum">材料費/1人</span><br>
                    <span class="text-muted font-12 color-ba08">※材料費は人数分の費用が発生します</span>
                  </div>
                  <div id="materialPrice" class="col-auto">&yen;
                    <%= order.regular_material_price %>
                  </div>
                </div>
                <div class="row justify-content-between border-bottom-dotted pb-2">
                  <div class="col-auto">交通費</div>
                  <div id="transportationExpensesForOrderForm" class="col-auto">&yen;
                    <%= order.transportation_expenses %>
                  </div>
                </div>
                <div class="row justify-content-between border-bottom-dotted pb-2">
                  <div class="col-auto">諸経費</div>
                  <div id="expensesForOrderForm" class="col-auto">&yen;
                    <%= order.expenses %>
                  </div>
                </div>

                <% if order.recreation.is_online %>
                  <div class="row justify-content-between border-bottom-dotted pb-2">
                    <div class="col-auto">追加施設費 / <span id="numberOfFacilitiesForOrderFormLabel"><%= order.number_of_facilities %> 施設</span></div>
                    <div id="numberOfFacilitiesForOrderForm" class="col-auto">
                      <%= number_to_currency(order.total_facility_price_for_customer) %>
                    </div>
                  </div>
                <% end %>

                <div class="row justify-content-between border-top py-3">
                  <div class="col-auto">合計(税別)</div>
                  <div id="totalPriceForOrderForm" class="col-auto">
                    <%= number_to_currency(order.total_price_for_customer) %>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mt-4">
              <div class="card-body">
                <h5 class="card-title title-b">注意事項</h5>
                <p>・一度承認されたレクのキャンセルはできません。規約に準じた日程の変更は可能です。詳しくは利用規約をご確認ください。</p>
                <p>・材料費、オンラインレクの追加施設数、諸経費は開催までの間にパートナーとチャットで相談をして変更することが可能です。その場合、金額の変動がございます。
                </p>
                <p>・材料費が必要なレクは参加人数が増える場合や減る場合はパートナーとチャット相談をしてくださ　い。人数が減る場合、レクによっては準備した分の材料費分の請
                  求が発生する場合がございます。詳しくはパートナーにご確認をお願い致します。</p>
              </div>
            </div>
            <div class="row justify-content-center py-3">
              <div class="col-7 mb-3 text-center">
                <span class="text-muted">※パートナーが承認をする事で正式に開催が決まります</span>
              </div>
              <div class="col-7 text-center">
                <%= f.submit 'パートナーにレク開催を正式依頼する', class: 'btn btn-cprimary rounded-pill font-14 py-3 px-4 font-weight-bold text-white' %>
                <!--                <input type="hidden" name="_csrf" value="{{csrfToken}}">-->
                <!--                <button id="submit-button" type="submit" name="action" value="preview"-->
                <!--                        class="btn btn-cprimary rounded-pill font-14 py-3 px-4 font-weight-bold text-white"-->
                <!--                        {{submitDisabled}}>-->
                <!--                  <span class="">パートナーにレク開催を正式依頼する</span></button>-->
              </div>
            </div>
          </div>
        <% end %>
        <!--        </form>-->
      </div>
    </div>
  </div>
</div>
