<main class="chat">

  <% order.chats.each_with_index do |chat, i| %>
    <% if i == 0 %>
      <div class="row justify-content-center pt-2">
        <div class="col-auto date"><%= date chat.created_at %></div>
      </div>
    <% elsif chat.created_at.day != order.chats[i - 1].created_at.day %>
      <div class="row justify-content-center pt-2">
        <div class="col-auto date"><%= date chat.created_at %></div>
      </div>
    <% end %>

    <!-- 施設 -->
    <% if chat.user.role == :customer %>
      <div class="mychat">
        <div class="message"><%= simple_format chat.message %></div>
        <span class="time"><%= time chat.created_at %></span>
      </div>
    <% elsif chat.user.role == :partner %>
      <!-- パートナー -->
      <div class="your-chat">
        <div class="col-md-auto">
          <div class="name"><%= chat.user.partner.name %></div>
          <span class="time"><%= time chat.created_at %></span>
          <div class="message"><%= simple_format chat.message %></div>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= simple_form_for Chat.new, url: admin_chats_path do |f| %>

    <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
    <%= f.input :order_id, as: :hidden, input_html: { value: order.id } %>
    <%= f.input :message %>

    <%= f.submit '送信' %>
  <% end %>
</main>
