<main class="detail">
  <div class="container pt-2">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <%= link_to 'トップ', root_path %>
        </li>
        <li class="breadcrumb-item">
          <%= link_to '一覧', customers_recreations_path %>
        </li>
        <% category_tag = @order.recreation.tags.categories&.first %>
        <% if category_tag.present? %>
          <li class="breadcrumb-item">
            <!-- TODO: Tag.categories.firstを表示 + ransack入れる -->
            <%= link_to category_tag.name, customers_recreations_path(q: { tags_id_eq: category_tag.id }) %>
          </li>
        <% end %>
        <li class="breadcrumb-item active">
          <!-- TODO: Tag.categories.firstを表示 + ransack入れる -->
          <span><%= @order.recreation.title %></span>
        </li>
      </ol>
    </nav>
  </div>

  <article class="container py-4 px-0">
    <div class="row">
      <div class="col-md-4">
        <%= link_to customers_order_path(@order.id), class: 'clink' do %>
          <i class="material-icons ">navigate_before</i> 戻る
        <% end %>
        <div class="row align-items-center mt-2">
          <div class="col-md-4">
            <picture loading="lazy">
              <%= image_tag @order.recreation.recreation_images&.first&.image.to_s, class: "img-fluid" %>
            </picture>
          </div>
          <div class="col-md-7 recreation">
            <h1 class="title-b line-height-140"><%= @order.recreation_title %></h1>
            <div class=" category-tags">
              <% @order.recreation.tags.events.each_with_index do |tag, i| %>
                <% if i == 0 %>
                  <a href="{{{catalogTagUri this }}}" class="category-label event" style="background-color: #FD7E14;">#<%= tag.name %></a>
                <% else %>
                  <a href="{{{catalogTagUri this }}}" class="tag-label">#<%= tag.name %></a>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="card mt-3">
          <div class="card-body p-0">
            <% if @order.recreation.capacity %>
              <div class="border-bottom p-2">
                <h4 class="title">
                  参加人数制限
                  <%= @order.recreation.capacity %>
                  人まで
                </h4>
              </div>
            <% end %>

            <div class="border-bottom p-2">
              <h4 class="title">所要時間 <%= @order.recreation_minutes %>分</h4>
            </div>
            <div class="p-2">
              <h4 class="title">対象者目安</h4>
              <% @order.recreation.tags.targets.each do |tag| %>
                <div class="text-muted">・<%= tag.name %></div>
              <% end %>
            </div>
            <div class="p-2">
              <%= link_to customers_recreations_path(@order.recreation.id), class: "clink" do %>
                <span class="material-icons-text">レクの詳細を見る</span>
                <i class="material-icons ">navigate_next</i>
              <% end %>
            </div>
          </div>
        </div>

        <div class="card mt-3">
          <h3 class="title-b p-3">レク費用</h3>
          <div class="card-body py-0">
            <div class="row justify-content-between border-bottom-dotted pb-2">
              <div class="col-auto">開催費</div>
              <div class="col-auto">&yen;
                <%= price_pipe @order.regular_price %>
              </div>
            </div>
            <div class="row justify-content-between border-bottom-dotted py-2">
              <div class="col-auto">材料費/1人<br><span
                class="text-muted font-12 color-ba08">※材料費は人数分の費用が発生します</span></div>
              <div class="col-auto">&yen;
                <%= number_to_currency @order.regular_material_price %></div>
            </div>

            <div
              id="TransportationExpenseForm"
              expense="<%= @order.transportation_expenses %>"
              target="transportation_expenses"
              orderId="<%= @order.id %>">
            </div>

            <div
              id="ExpenseForm"
              expense="<%= @order.expenses %>"
              target="expenses"
              orderId="<%= @order.id %>">
            </div>

            <div
              id="NumberOfFacilitiesForm"
              numberOfFacilities="<%= @order.number_of_facilities %>"
              additionalFee="<%= @order.additional_facility_fee %>"
              orderId="<%= @order.id %>">
            </div>

            <!--            {{else}}-->
            <!--            {{#if isOnline}}-->
            <!--                        <div class="row justify-content-between border-top-dotted py-2">-->
            <!--                          <div class="col-12 align-self-center">追加施設数 {{order.additionalCount}} 施設<br>-->
            <!--                            <a href="{{addGetParam 'fc' 1}}" class="clink">編集</a>-->
            <!--                          </div>-->
            <!--                          <div class="col-7 align-self-center">追加施設費</div>-->
            <!--                          <div class="col-auto">-->
            <!--                            &yen;{{numeral task.additionalPrice}}-->
            <!--                          </div>-->
            <!--                          <div col-12>-->
            <!--                            <span class="text-muted font-12 color-ba08">※1施設追加する事に費用が発生します</span>-->
            <!--                          </div>-->
            <!--                        </div>-->

            <div class="row justify-content-between border-top py-3">
              <div class="col-auto">合計</div>
              <div id="totalPriceForSidenav" class="col-auto">&yen;
                <%= price_pipe(@order.total_price_for_customer) %>
              </div>
            </div>
            <div class="row justify-content-center py-3">
              <div class="col-auto">
                <!-- NOTE: 正式依頼するタイミングでdate_and_timeが入るので、こちら利用 -->
                <% if @order.date_and_time.blank? %>
                  <button id="order-modal" class="btn-cpr" data-bs-toggle="modal" data-bs-target="#orderModal">
                    レクを正式依頼へ進む
                  </button>
                <% else %>
                  <button class="btn-cpr disabled">正式依頼済みです</button>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%= render 'shared/customer/order/chat', order: @order, chat: @chat %>
    </div>
    <!-- 正式依頼 フォーム -->
    <!-- Modal -->
    <%= render 'shared/customer/order/order_modal', order: @order %>
  </article>
</main>

<!-- NOTE: Reactで動的に料金を制御するための値table的な箇所. 絶対に消しちゃだめ!!!! -->
<div class="invisible">
  <div id="regularPrice"><%= @order.regular_price %></div>
  <div id="regularMaterialPrice"><%= @order.regular_material_price %></div>
  <div id="transportationExpensesPrice"><%= @order.transportation_expenses %></div>
  <!-- TODO: recの金額に合わせる -->
  <div id="additionalFacilitiesPrice">
    <% if @order.number_of_facilities.present? %>
      <%= @order.number_of_facilities * 2000 %>
    <% else %>
      0
    <% end %>
  </div>
  <div id="expensesPrice"><%= @order.expenses %></div>
</div>
