<main class="detail">
  <div class="container pt-2">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <% @breadcrumbs.each do |b| %>
          <li class="breadcrumb-item"><a href="{{uri}}"><%= b[:name] %></a></li>
        <% end %>
      </ol>
    </nav>
  </div>
  <article class="container py-4 px-0">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            正式依頼が完了しました<br>ありがとうございます！
          </div>
          <div class="card-body">
            <p>「<%= @order.recreation_title %>」を正式依頼いただきありがとうございます！</p>
            <div class="alert alert-danger color-at-re10" role="alert">
              パートナーが依頼を承諾するとレクが正式に開催されます。承諾されましたらメールにてお知らせいたします。もうしばらくお待ちください。
            </div>
            <div class="container-fluid">
              <div class="row py-2 border-top">
                <div class="col-lg-3 col-4 label">案件番号</div>
                <div class="col-auto"><%= @order.id %></div>
              </div>
              <div class="row py-2">
                <div class="col-3 label">レク</div>
                <div class="col-8">
                  <div class="row align-items-center mt-2">
                    <div class="col-md-4">
                      <picture loading="lazy">
                        <%= image_tag @order.recreation.recreation_images&.first&.image.to_s, class: "img-fluid" %>
<!--                        <source type="image/webp" srcset="{{catalogCardThumbnailUri recreation.media '320x180@1' 'webp'}},-->
<!--                                              {{catalogCardThumbnailUri recreation.media '320x180@1.5' 'webp'}} 1.5x,-->
<!--                                              {{catalogCardThumbnailUri recreation.media '320x180@2' 'webp'}} 2x">-->
<!--                        <source type="image/jpeg" srcset="{{catalogCardThumbnailUri recreation.media '320x180@1' 'jpg'}},-->
<!--                                              {{catalogCardThumbnailUri recreation.media '320x180@1.5' 'jpg'}} 1.5x,-->
<!--                                              {{catalogCardThumbnailUri recreation.media '320x180@2' 'jpg'}} 2x" />-->

<!--                        <img loading="lazy"-->
<!--                             src="{{catalogCardThumbnailUri recreation.media '320x180@1' 'jpg'}}, {{catalogCardThumbnailUri recreation.media '320x180@1.5' 'jpg'}} 1.5x,"-->
<!--                             class="img-fluid" alt="介護レクリエーション - {{recreation.name}}">-->
                      </picture>
                    </div>
                    <div class="col-md-8 recreation">
                      <h1 class="font-16 font-weight-bold line-height-140"><%= @order.recreation_title %></h1>
                      <div class=" category-tags">
                        <% @order.recreation.tags.events.each_with_index do |tag, i| %>
                          <div class="col-auto px-1">
                            <% if i == 0 %>
                              <a href="{{{catalogTagUri this }}}" class="category-label event" style="background-color: #FD7E14;">#<%= tag.name %></a>
                            <% else %>
                              <a href="{{{catalogTagUri this }}}" class="tag-label">#<%= tag.name %></a>
                            <% end %>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row py-2">
                <div class="col-lg-3 col-4 label">開催日時</div>
                <div class="col-auto"><%= @order.date_and_time %></div>
              </div>
              <div class="row py-2">
                <div class="col-lg-3 col-4 label">参加人数</div>
                <div class="col-auto"><%= @order.number_of_people %>人</div>
              </div>
<!--              {{#if isOnline}}-->
<!--              <div class="row py-2">-->
<!--                <div class="col-lg-3 col-4 label">参加施設数</div>-->
<!--                <div class="col-auto">1施設 （追加施設数{{additionalCount}}軒）</div>-->
<!--              </div>-->
<!--              {{/if}}-->
              <div class="row py-2">
                <div class="col-lg-3 col-4 label">施設住所</div>
                <div class="col-auto">
                  <%= @order.full_address %>
                </div>
              </div>
              <div class="row py-2 border-bottom">
                <div class="col-lg-3 col-4 label">合計費用</div>
                <div class="col-auto">
                  &yen;10,000
                </div>
              </div>
            </div>
            <div class="row justify-content-center py-3">
              <div class="col-12 py-3 text-center">
                <%= link_to '依頼中のレクを確認する', customers_order_path(@order.id), class: 'btn-cpr' %>
<!--                <a class="btn-cpr" href="{{catalogHomeUri}}/customer/order/detail/{{taskId}}">依頼中のレクを確認する</a>-->
              </div>
              <div class="col-12 py-3 text-center">
                <%= link_to 'トップへ戻る', root_path, class: 'clink' %>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</main>
