<% if ENV.fetch('DOMAIN', '') == 'recreation.everyplus.jp' %>
  <head>
    <script>
      (function(w,f){w[f]=w[f]||function(){w[f].q=w[f].q||[];w[f].q.push(arguments);};})(window,'dairin');
      dairin("complete", {
          // customer_uid:'user@example.com',
          // sales_amount:0,
          // event_id:'',
          campaign_code:'7JtOnDILz5'
      });
    </script>

    <script src="https://r.moshimo.com/af/r/result.js?p_id=6457&pc_id=18242&m_v=matching" id="msmaf"></script>
    <noscript><img src="https://r.moshimo.com/af/r/result?p_id=6457&pc_id=18242&m_v=matching" width="1" height="1" alt=""></noscript>
  </head>
<% end %>

<main class="detail">
  <div class="container pt-2">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <%= link_to 'トップ', root_path %>
        </li>
        <li class="breadcrumb-item">
          <%= link_to '一覧', customers_recreations_path %>
        </li>
        <% category_tag = @order.recreation.tags.categories&.first %>
        <% if category_tag.present? %>
          <li class="breadcrumb-item">
            <span class="text-secondary"><%= category_tag.name %></span>
          </li>
        <% end %>
        <li class="breadcrumb-item">
          <span><%= link_to @order.recreation_title, customers_recreation_path(@order.recreation.id) %></span>
        </li>
        <li class="breadcrumb-item active">
          <span class="text-secondary">正式依頼完了</span>
        </li>
      </ol>
    </nav>
  </div>

  <article class="container py-4 px-0">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            正式依頼が完了しました<br>ありがとうございます！
          </div>
          <div class="card-body">
            <p>「<%= @order.recreation_title %>」を正式依頼いただきありがとうございます！</p>
            <div class="alert alert-danger color-at-re10" role="alert">
              パートナーが依頼を承認するとレクが正式に開催されます。承認されましたらメールにてお知らせいたします。もうしばらくお待ちください。
            </div>
            <div class="container-fluid">
              <div class="row py-2 border-top">
                <div class="col-lg-3 col-4 label">案件番号</div>
                <div class="col-auto"><%= @order.id %></div>
              </div>
              <div class="row py-2">
                <div class="col-3 label">レク</div>
                <div class="col-8">
                  <div class="row align-items-center mt-2">
                    <div class="col-md-4">
                      <picture loading="lazy">
                        <%= image_tag @order.recreation.recreation_images.sliders&.first&.image.to_s, class: "img-fluid" %>
                      </picture>
                    </div>
                    <div class="col-md-8 recreation">
                      <h1 class="font-16 font-weight-bold line-height-140"><%= @order.recreation_title %></h1>
                      <div class=" category-tags">
                        <%= tag_to_html(@order.recreation, false) %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row py-2">
                <div class="col-lg-3 col-4 label">開催日時</div>
                <div class="col-auto"><%= dotted_datetime @order.start_at %></div>
              </div>
              <div class="row py-2">
                <div class="col-lg-3 col-4 label">参加人数</div>
                <div class="col-auto"><%= @order.number_of_people %>人</div>
              </div>
              <% if @order.recreation_kind.online? %>
                <div class="row py-2">
                  <div class="col-lg-3 col-4 label">参加施設数</div>
                  <div class="col-auto">1施設 （追加施設数 - 施設）</div>
                </div>
              <% end %>
              <div class="row py-2">
                <div class="col-lg-3 col-4 label">今回開催する施設の住所</div>
                <div class="col-auto">
                  <%= @order.full_address %>
                </div>
              </div>
              <div class="row py-2 border-bottom">
                <div class="col-lg-3 col-4 label">合計費用(税別)</div>
                <div class="col-auto">
                  <%= number_to_currency(@order.total_price_for_customer) %>
                </div>
              </div>
            </div>
            <div class="row justify-content-center py-3">
              <div class="col-12 py-3 text-center">
                <%= link_to '依頼中のレクを確認する', customers_order_path(@order.id), class: 'btn-cpr' %>
                <!--                <a class="btn-cpr" href="{{catalogHomeUri}}/customer/order/detail/{{taskId}}">依頼中のレクを確認する</a>-->
              </div>
              <div class="col-12 py-3 text-center">
                <%= link_to 'トップへ戻る', root_path, class: 'clink' %>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</main>
