<main class="detail">
  <div class="container pt-2">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <% @breadcrumbs.each do |b| %>
          <li class="breadcrumb-item"><a href="{{uri}}"><%= b[:name] %></a></li>
        <% end %>
      </ol>
    </nav>
  </div>

  <article class="container py-4 px-0">
    <div class="row">
      <div class="col-md-4">
        <a href="" class="clink "><i class="material-icons ">navigate_before</i> 戻る</a>
        <div class="row align-items-center mt-2">
          <div class="col-md-4">
            <picture loading="lazy">
              <% if @recreation.recreation_images.length >= 1 %>
                <%= image_tag @recreation.recreation_images&.first&.image&.to_s, class: "img-fluid" %>
              <% end %>
            </picture>
          </div>
          <div class="col-md-7 recreation">
            <h1 class="title-b line-height-140"><%= @recreation.title %></h1>
            <div class=" category-tags">
              <%= tags_to_html(@recreation.tags) %>
            </div>
          </div>
        </div>
        <h3 class="title-b">レク情報</h3>
        <div class="card ">
          <div class="card-body p-0">
            <!--            {{#if item.showCapacity}}-->
            <!--            <div class="border-bottom p-2">-->
            <!--              <h4 class="title">参加人数制限 {{item.capacity}}人</h4>-->
            <!--              <div class="text-muted">※目安30名様に1名のスタッフ様のサポートをお願い致します。</div>-->
            <!--            </div>-->
            <!--            {{/if}}-->
            <div class="border-bottom p-2">
              <h4 class="title">所要時間 <%= @recreation.minutes %>分</h4>
              <div class="text-muted">※ご要望に合わせてご相談が可能です。基本時間のため、ご要望にあわせて調節が可能です。</div>
            </div>
            <div class="p-2">
              <h4 class="title">対象者目安</h4>
              <% @recreation.tags.targets.each do |tag| %>
                <div class="text-muted">・<%= tag.name %></div>
              <% end %>
            </div>
          </div>
        </div>
        <h3 class="title-b">お借りしたいもの</h3>
        <div class="card ">
          <div class="card-body">
            <p class="text-muted"><%= @recreation.borrow_item %></p>
            <div class="text-muted">※状況にあわせて、変わる可能性がございます。</div>
          </div>
        </div>
        <h3 class="title-b">持ち込むもの</h3>
        <div class="card ">
          <div class="card-body">
            <p class="item-muted "><%= @recreation.bring_your_own_item %></p>
            <div class="text-muted">※状況にあわせて、変わる可能性がございます。</div>
          </div>
        </div>
        <%= render 'shared/home/order_flow' %>
      </div>
      <div class="col-md-7">
        <div class="card">
          <div class="card-header bg-white">
            相談・依頼フォーム
          </div>
          <%= simple_form_for @order, url: customers_recreation_orders_path(@recreation), html: { class: 'consult mt-3' } do |f| %>
            <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
            <div class="card-body">
              <div class="form-group">
                <label for="consultType" class="title-b pb-3">
                  相談と依頼どちらをご希望ですか？
                  <span class="label required">必須</span>
                </label>
                <br>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="order[title]" id="consultTypeConsult" value="まずは相談したい" checked>
                  <label class="form-check-label" for="consultTypeConsult">まずは相談したい</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="order[title]" id="consultTypeOrder" value="依頼をしたい">
                  <label class="form-check-label" for="consultTypeOrder">依頼をしたい</label>
                </div>
              </div>
              <div class="form-group">
                <label class="title-b pb-3">開催したい希望日と時間を選択してください</label>
              </div>

              <!-- has_manyを実装 -->
              <% 3.times do |i| %>
                <div class="d-flex flex-row align-items-stretch my-2">
                  <div class="desired-no d-flex align-items-center justify-content-center">
                    <div><%= i + 1 %></div>
                  </div>

                  <div class="flex-fill ps-3">
                    <div class="row">
                      <div class="col-12">希望日</div>
                      <div class="form-group col-3">
                        <select id="dates1" name="order[dates][<%= i %>][year]" class="form-select ">
                          <option style="display: none;">ー</option>
                          <% @years.each do |year| %>
                            <option value="<%= year %>"><%= year %></option>
                          <% end %>
                        </select>
                      </div>
                      <div class="col-auto p-0 flex-v-c">年</div>
                      <div class="form-group col-3">
                        <select id="desiredOneMonth" name="order[dates][<%= i %>][month]" class="form-select ">
                          <option style="display: none;">ー</option>
                          <% @months.each do |month| %>
                            <option value="<%= month %>"><%= month %></option>
                          <% end %>
                        </select>
                      </div>
                      <div class="col-auto p-0 flex-v-c">月</div>
                      <div class="form-group col-3">
                        <select id="desiredOneDay" name="order[dates][<%= i %>][date]" class="form-select ">
                          <option style="display: none;">ー</option>
                          <% @dates.each do |date| %>
                            <option value="<%= date %>"><%= date %></option>
                          <% end %>
                        </select>
                      </div>
                      <div class="col-auto p-0 flex-v-c">日</div>
                    </div>
                    <div class="row">
                      <div class="col-12">希望時間</div>
                      <div class="form-group col-2 pe-0">
                        <select id="desiredOneHourSt" name="order[dates][<%= i %>][start_hour]" class="form-select ">
                          <option style="display: none;">ー</option>
                          <% @hours.each do |hour| %>
                            <option value="<%= hour %>"><%= hour %></option>
                          <% end %>
                        </select>
                      </div>
                      <div class="col-auto p-0 flex-v-c">:</div>
                      <div class="form-group col-2 pe-0">
                        <select id="desiredOneMinuteSt" name="order[dates][<%= i %>][start_minutes]" class="form-select ">
                          <option style="display: none;">ー</option>
                          <% @minutes.each do |minute| %>
                            <option value="<%= minute %>"><%= minute %></option>
                          <% end %>
                        </select>
                      </div>
                      <div class="col-auto p-0 flex-v-c">~</div>
                      <div class="form-group col-2 pe-0">
                        <select id="desiredOneHourEn" name="order[dates][<%= i %>][end_hour]" class="form-select ">
                          <option style="display: none;">ー</option>
                          <% @hours.each do |hour| %>
                            <option value="<%= hour %>"><%= hour %></option>
                          <% end %>
                        </select>
                      </div>
                      <div class="col-auto p-0 flex-v-c">:</div>
                      <div class="form-group col-2 pe-0">
                        <select id="desiredOneMinuteEn" name="order[dates][<%= i %>][end_minutes]" class="form-select ">
                          <option style="display: none;">ー</option>
                          <% @minutes.each do |minute| %>
                            <option value="<%= minute %>"><%= minute %></option>
                          <% end %>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>


              <div class="row pt-3">
                <label class="col-12 title-b pb-3" for="participant">おおよそ参加予定人数をご記入ください</label>
                <div class="form-group col-3">
                  <%= f.input :number_of_people, label: false, class: 'form-control' %>
                </div>
                <div class="col-auto p-0 flex-v-c">人</div>
              </div>

              <div class="row pt-3">
                <label class="col-12 title-b pb-3">参加対象者の状態目安を教えてください</label>
                <div class="form-group col-12">
                  <% Tag.targets.each do |tag| %>
                    <div class="form-check">
                      <input class="form-check-input" name="order[tag_ids][]" type="checkbox" value="<%= tag.id %>" id="targetPersons1">
                      <label class="form-check-label" for="targetPersons1">
                        <%= tag.name %>
                      </label>
                    </div>
                  <% end %>
                </div>
              </div>

              <div class="row pt-3">
                <label class="col-12 title-b pb-3">都道府県と市区町村を選択してください</label>
                <div class="form-group col-6">
                  <%= f.input :prefecture, as: :select, collection: [], input_html: { class: 'form-select p-region' } %>
                </div>

                <div class="form-group col-6">
                  <%= f.input :city, as: :select, collection: [], input_html: { class: 'form-select p-region' } %>
                </div>
              </div>

              <div class="form-group  row pt-3">
                <label for="comment" class="col-12 title-b pb-3">相談したいことがありましたらご記入ください</label>
                <div class="col-12" style="position: relative;">
                  <%= f.input :message, label: false, as: :text, input_html: { class: "form-control", rows: "7" }%>
                </div>
              </div>

              <div class="row justify-content-center pt-3">
                <div class="col-10">
                  <h4 class="title-b font-14 color-ba08">相談・依頼ボタンをクリックしても、正式に開催が決まるわけではありません。</h4>
                </div>
                <div class="col-6">
                  <%= f.submit 'パートナーにレク開催を相談・依頼する', class: "btn btn-cprimary py-4 rounded-pill w-100 font-14 py-3 px-4 font-weight-bold text-white" %>
                </div>
              </div>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </article>
</main>


<!-- NOTE: trigger経由でpriceModalを発火 -->
<div id="priceModalTrigger" data-bs-toggle="modal" data-bs-target="#priceModal" class="d-none"></div>
<!-- NOTE: reactで制御しているが、要素をnestさせるとclick不可の状態に陥ることあるので、railsで使っている。 -->
<div id="priceModal" class="modal fade" tabindex="-1" aria-labelledby="contact-price-modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">相談・依頼フォームの送信が完了しました</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          レクの相談・依頼フォームの送信が完了しました。<br />
          エブリ・プラスのスタッフがパートナーへ連絡し調整いたします。調整が完了次第エブリ・プラスのスタッフからメールにて返信いたします。今しばらくお待ちください
        </p>
<!--        <p>「<%#= @recreation.title %>」の料金をお問い合わせしました。エブリ・プラスのスタッフからメールで返信致します。少々お待ちください。</p>-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-cprimary rounded-pill text-white" data-bs-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>

