<main class="detail">
  <div class="container pt-2">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <%= link_to 'トップ', root_path %>
        </li>
        <li class="breadcrumb-item">
          <%= link_to '一覧', customers_recreations_path %>
        </li>
        <% category_tag = @recreation.tags.categories&.first %>
        <% if category_tag.present? %>
          <li class="breadcrumb-item">
            <span class="text-secondary"><%= category_tag.name %></span>
          </li>
        <% end %>
        <li class="breadcrumb-item">
          <%= link_to @recreation.title, customers_recreation_path(@recreation.id) %>
        </li>
        <li class="breadcrumb-item active">
          <span class="text-secondary">相談・依頼フォーム</span>
        </li>
      </ol>
    </nav>
  </div>

  <article class="container py-4 px-0">
    <div class="row">
      <div class="col-md-4">
        <a href="" class="clink "><i class="material-icons ">navigate_before</i> 戻る</a>
        <div class="row align-items-center mt-2">
          <div class="col-md-4">
            <picture loading="lazy">
              <% if @recreation.recreation_images.sliders.length >= 1 %>
                <%= image_tag @recreation.recreation_images.sliders&.first&.image&.to_s, class: 'img-fluid' %>
              <% end %>
            </picture>
          </div>
          <div class="col-md-7 recreation">
            <h1 class="title-b line-height-140"><%= @recreation.title %></h1>
            <div class=" category-tags">
              <%= tag_to_html(@recreation) %>
            </div>
          </div>
        </div>
        <h3 class="title-b">レク情報</h3>
        <div class="card ">
          <div class="card-body p-0">
            <div class="border-bottom p-2">
            <h4 class="title">参加人数制限 <%= recreation_capacity(@recreation.capacity) %></h4>
            <div class="text-muted">※目安30名様に1名のスタッフ様のサポートをお願い致します。</div>
            </div>
            <div class="border-bottom p-2">
              <h4 class="title">所要時間 <%= @recreation.minutes %>分</h4>
              <div class="text-muted">※ご要望に合わせてご相談が可能です。基本時間のため、ご要望にあわせて調節が可能です。</div>
            </div>
            <div class="p-2">
              <h4 class="title">対象者目安</h4>
              <% @recreation.tags.targets.each do |tag| %>
                <div class="text-muted">・<%= tag.name %></div>
              <% end %>
            </div>
          </div>
        </div>
        <h3 class="title-b">お借りしたいもの</h3>
        <div class="card ">
          <div class="card-body">
            <p class="text-muted"><%= @recreation.borrow_item %></p>
            <div class="text-muted">※状況にあわせて、変わる可能性がございます。</div>
          </div>
        </div>
        <h3 class="title-b">持ち込むもの</h3>
        <div class="card ">
          <div class="card-body">
            <p class="item-muted "><%= @recreation.bring_your_own_item %></p>
            <div class="text-muted">※状況にあわせて、変わる可能性がございます。</div>
          </div>
        </div>
        <%= render 'shared/home/order_flow' %>
      </div>

      <div class="col-md-7">
        <div class="card">
          <div class="card-header bg-white">
            相談・依頼フォーム
          </div>
          <%= simple_form_for @order, url: customers_recreation_orders_path(@recreation), html: { class: 'consult mt-3' } do |f| %>
            <%= render 'layouts/error_messages', model: f.object %>
            <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>

            <%= f.input :price, as: :hidden, input_html: { value: @recreation.price } %>
            <%= f.input :amount, as: :hidden, input_html: { value: @recreation.amount } %>
            <%= f.input :material_price, as: :hidden, input_html: { value: @recreation.material_price } %>
            <%= f.input :material_amount, as: :hidden, input_html: { value: @recreation.material_amount } %>
            <%= f.input :additional_facility_fee, as: :hidden, input_html: { value: @recreation.additional_facility_fee } %>

            <div class="card-body">
              <div class="form-group">
                <label for="consultType" class="title-b pb-3">
                  相談と依頼どちらをご希望ですか？
                  <span class="label required">必須</span>
                </label>
                <br>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="order[title]" id="consultTypeConsult" value="まずは相談したい" checked>
                  <label class="form-check-label" for="consultTypeConsult">まずは相談したい</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="order[title]" id="consultTypeOrder" value="依頼をしたい">
                  <label class="form-check-label" for="consultTypeOrder">依頼をしたい</label>
                </div>
              </div>
              <div class="form-group">
                <label class="title-b pb-3">開催したい希望日と時間を選択してください</label>
              </div>

              <%= f.fields_for :order_dates do |ff| %>
                <div class="d-flex flex-row align-items-stretch my-2">
                  <div class="desired-no d-flex align-items-center justify-content-center">
                    <div><%= ff.index + 1 %></div>
                  </div>
                    <div class="flex-fill ps-3">
                      <div class="row">
                        <div class="col-12">希望日</div>
                        <div class="form-group col-3">
                          <%= ff.collection_select :year, Year.all, :value, :value , { prompt: '-' }, class:'form-control' %>
                        </div>
                        <div class="form-group col-3">
                          <%= ff.collection_select :month, Month.all, :value , :value , { prompt: '-' }, class:'form-control' %>
                        </div>
                        <div class="form-group col-3">
                          <%= ff.collection_select :date, Day.all, :value , :value , { prompt: '-' }, class:'form-control' %>
                        </div>
                      </div>
                      <div class="row  mt-3">
                        <div class="form-group col-2 pe-0">
                          <%= ff.collection_select :start_hour, Hour.all, :value , :value , { prompt: '-' }, class:'form-control' %>
                        </div>
                        <div class="col-auto p-0 flex-v-c">:</div>
                        <div class="form-group col-2 pe-0">
                          <%= ff.collection_select :start_minute, Minute.all, :value , :value , { prompt: '-' }, class:'form-control' %>
                        </div>
                        <div class="col-auto p-0 flex-v-c">~</div>
                        <div class="form-group col-2 pe-0">
                          <%= ff.collection_select :end_hour, Hour.all, :value , :value , { prompt: '-' }, class:'form-control' %>
                        </div>
                        <div class="col-auto p-0 flex-v-c">:</div>
                        <div class="form-group col-2 pe-0">
                          <%= ff.collection_select :end_minute, Minute.all, :value , :value , { prompt: '-' }, class:'form-control' %>
                        </div>
                      </div>
                    </div>
                </div>
                <%= render 'layouts/error_messages', model: ff.object %>
              <% end %>

              <div class="row pt-3">
                <label class="col-12 title-b pb-3" for="participant">おおよそ参加予定人数をご記入ください</label>
                <div class="form-group col-3">
                  <%= f.input :number_of_people, label: false, class: 'form-control' %>
                </div>
                <div class="col-auto p-0 flex-v-c">人</div>
              </div>
              <% if @recreation.kind.online? %>
                <div class="row pt-3">
                  <label class="col-12 title-b pb-3" for="participant">追加で参加する施設がある場合施設数をご記入ください</label>
                  <div class="form-group col-3">
                    <%= f.input :number_of_facilities, label: false, class: 'form-control' %>
                  </div>
                  <div class="col-auto p-0 flex-v-c">施設</div>
                </div>
              <% end %>

              <div class="row pt-3">
                <label class="col-12 title-b pb-3">参加対象者の状態目安を教えてください</label>
                <div class="form-group col-12">
                  <% %w[ほぼ自立可 ほぼ要介助 ほぼ認知症 介護度2以下が多い 介護度3以上が多い].each do |tag| %>
                    <div class="form-check">
                      <input class="form-check-input" name="order[tags][]" type="checkbox" value="<%= tag %>">
                      <label class="form-check-label">
                        <%= tag %>
                      </label>
                    </div>
                  <% end %>
                </div>
              </div>

              <div class="row pt-3">
                <label class="col-12 title-b pb-3">都道府県と市区町村を選択してください</label>
                <div class="form-group col-6">
                  <%= f.input :prefecture, as: :select, collection: [], input_html: { class: 'form-select p-region' } %>
                </div>

                <div class="form-group col-6">
                  <%= f.input :city, as: :select, collection: [], input_html: { class: 'form-select p-region' } %>
                </div>
              </div>

              <div class="form-group  row pt-3">
                <label for="comment" class="col-12 title-b pb-3">相談したいことがありましたらご記入ください</label>
                <div class="col-12" style="position: relative;">
                  <%= f.input :message, label: false, as: :text, input_html: { class: "form-control", rows: "7" } %>
                </div>
              </div>
              <% if @recreation.kind.online? %>
                <div class="row pt-3">
                  <label class="col-12 title-b pt-2">※このレクはオンライン環境が必要です</label>
                </div>
              <% end %>

              <div class="row justify-content-center pt-3">
                <div class="col-10">
                  <h4 class="title-b font-14 color-ba08">相談・依頼ボタンをクリックしても、正式に開催が決まるわけではありません。</h4>
                </div>
                <div class="col-6">
                  <%= f.submit 'パートナーにレク開催を相談・依頼する', class: "btn btn-cprimary py-4 rounded-pill w-100 font-14 py-3 px-4 font-weight-bold text-white" %>
                </div>
              </div>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </article>
</main>

<!-- NOTE: trigger経由でpriceModalを発火 -->
<div id="priceModalTrigger" data-bs-toggle="modal" data-bs-target="#priceModal" class="d-none"></div>
<!-- NOTE: reactで制御しているが、要素をnestさせるとclick不可の状態に陥ることあるので、railsで使っている。 -->
<div id="priceModal" class="modal fade" tabindex="-1" aria-labelledby="contact-price-modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">相談・依頼フォームの送信が完了しました</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          レクの相談・依頼フォームの送信が完了しました。<br/>
          エブリ・プラスのスタッフがパートナーへ連絡し調整いたします。調整が完了次第エブリ・プラスのスタッフからメールにて返信いたします。今しばらくお待ちください
        </p>
        <!--<p>「<%#= @recreation.title %>」の料金をお問い合わせしました。エブリ・プラスのスタッフからメールで返信致します。少々お待ちください。</p>-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-cprimary rounded-pill text-white" data-bs-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>
