<%= simple_form_for invoice_information, as: 'invoice_information', url: url do |f| %>
  <div class="row">
    <div class="col-md-6">
      <label>氏名</label>
      <%= f.input :name, label: false %>
    </div>
    <div class="col-md-6">
      <label>請求コード</label>
      <%= f.input :code, label: false %>
    </div>
  </div>

  <div class="row pt-3">
    <span class="p-country-name" style="display:none;">Japan</span>
    <div class="form-group col-6">
      <label for="postalCode">郵便番号</label>
      <div class="input-group mb-3">
        <div class="form-group string optional user_company_zip form-group-valid">
          <%= f.input :zip, label: false %>
        </div>
        <button
          id="searchAddressWithZipInRegistrationEditForm"
          class="btn btn-outline-secondary p-postal-code-find"
          type="button"
        >
          検索
        </button>
      </div>

    </div>
    <div class="form-group col-6">
      <!-- NOTE: 初期値として必須なので削除だめ -->
      <label>都道府県</label>
      <%= f.input :prefecture, label: false, as: :select, collection: [[f.object.prefecture, f.object.prefecture]] %>
    </div>
    <div class="form-group col-6">
      <label>市区町村</label>
      <%= f.input :city, label: false, input_html: { class: 'form-control p-locality' } %>
    </div>
    <div class="form-group col-6">
      <label>町名/番地</label>
      <%= f.input :street, label: false, input_html: { class: 'form-control p-street-address' } %>
    </div>
    <div class="form-group col-12 pt-2">
      <label>建物名</label>
      <%= f.input :building, label: false, input_html: { class: 'form-control' } %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= f.input :memo %>
    </div>
  </div>

  <div class="row pt-2">
    <div class="col-auto">
      <%= f.submit '保存する', class: 'btn btn-cprimary font-14 py-3 px-4 font-weight-bold text-white' %>
    </div>
  </div>
<% end %>
