<%= simple_form_for invoice_information, as: 'invoice_information', url: url do |f| %>
  <div class="row">
    <div class="col-md-12">
      <%= f.input :company_name %>
    </div>
    <div class="col-md-12">
      <%= f.input :name %>
    </div>
  </div>

  <div class="row pt-3">
    <span class="p-country-name" style="display:none;">Japan</span>
    <div class="form-group col-6">
      <label class="string required" for="invoice_information_zip">
        郵便番号
        <abbr title="required"><span class="label required">必須</span></abbr>
      </label>
      <div class="input-group mb-3">
        <div class="form-group string optional user_company_zip form-group-valid">
          <%= f.input :zip, label: false  %>
        </div>
        <button
          id="searchAddressWithZipInRegistrationEditForm"
          class="btn btn-outline-secondary p-postal-code-find"
          type="button"
        >
          検索
        </button>
      </div>

    </div>
    <div class="form-group col-6">
      <!-- NOTE: 初期値として必須なので削除だめ -->
      <%= f.input :prefecture, as: :select, collection: [[f.object.prefecture, f.object.prefecture]] %>
    </div>
    <div class="form-group col-6">
      <%= f.input :city, input_html: { class: 'form-control p-locality' } %>
    </div>
    <div class="form-group col-6">
      <%= f.input :street, input_html: { class: 'form-control p-street-address' } %>
    </div>
    <div class="form-group col-12 pt-2">
      <%= f.input :building, input_html: { class: 'form-control' } %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= f.input :email %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= f.input :memo %>
    </div>
  </div>

  <div class="row pt-2">
    <div class="col-auto">
      <%= f.submit '保存する', class: 'btn btn-cprimary font-14 py-3 px-4 font-weight-bold text-white' %>
    </div>
  </div>
<% end %>
