<% if report&.evaluation.present? %>
  <table>
    <tr>
      <td>工夫の満足度</td>
      <td><%= report.evaluation.ingenuity %></td>
    </tr>

    <tr>
      <td>コミュニケーション力の満足度</td>
      <td><%= report.evaluation.communication %></td>
    </tr>

    <tr>
      <td>スムーズさの満足度</td>
      <td><%= report.evaluation.smoothness %></td>
    </tr>

    <tr>
      <td>料金の満足度</td>
      <td><%= report.evaluation.price %></td>
    </tr>

    <tr>
      <td>もう一度開催したいと思うか</td>
      <td><%= report.evaluation.want_to_order_agein %></td>
    </tr>

    <tr>
      <td> 感想をご記入ください</td>
      <td><%= report.evaluation.message %></td>
    </tr>

    <tr>
      <td>その他ご意見をご記入ください。※Webサイトへは公開されません</td>
      <td><%= report.evaluation.other_message %></td>
    </tr>
  </table>
<% end %>
