<% if report&.present? %>
  <h3レポート</h3>
  <table>
    <tr>
      <td>参加人数</td>
      <td><%= report&.order&.number_of_people %></td>
    </tr>

    <tr>
      <td>交通費</td>
      <td><%= number_to_currency report&.order&.transportation_expenses %></td>
    </tr>

    <tr>
      <td>諸経費</td>
      <td><%= number_to_currency report&.order&.expenses %></td>
    </tr>

    <tr>
      <td>施設へのメッセージ</td>
      <td><%= report&.body %></td>
    </tr>
  </table>
  <h3>評価</h3>
  <table>
    <tr>
      <td>工夫の満足度</td>
      <td><%= report&.evaluation&.ingenuity_text %></td>
    </tr>

    <tr>
      <td>コミュニケーション力の満足度</td>
      <td><%= report&.evaluation&.communication_text %></td>
    </tr>

    <tr>
      <td>スムーズさの満足度</td>
      <td><%= report&.evaluation&.smoothness_text %></td>
    </tr>

    <tr>
      <td>料金の満足度</td>
      <td><%= report&.evaluation&.price_text %></td>
    </tr>

    <tr>
      <td>もう一度開催したいと思うか</td>
      <td><%= report&.evaluation&.want_to_order_agein_text %></td>
    </tr>

    <tr>
      <td> 感想をご記入ください</td>
      <td><%= report&.evaluation&.message %></td>
    </tr>

    <tr>
      <td>その他ご意見をご記入ください。※Webサイトへは公開されません</td>
      <td><%= report&.evaluation&.other_message %></td>
    </tr>
  </table>
<% end %>
