<%= switch_user_select %>
<% cache('footer') do %>
  <footer class="container-fluid px-0">
    <div class="container">
      <div class="row align-items-center justify-content-md-center">
        <div class="col-10 mt-2 d-none d-lg-block">
          <ul class="list-group list-group-horizontal">
            <li class="list-group-item border-0">
              <a href="https://everyplus.jp/" class="link-href">エブリ・プラス公式HP</a>
            </li>
            <li class="list-group-item border-0">
              <%= link_to 'レク一覧', customers_recreations_path, class: 'link-href' %>
            </li>
            <li class="list-group-item border-0">
              <%= link_to '導入事例', 'https://everyplus.jp/content', class: 'link-href', target: '_blank' %>
            </li>
            <li class="list-group-item border-0 d-none">
              <%= link_to 'よくある質問', 'https://tayori.com/faq/5c0acac6bcdec23e3eac9bdf17d9e7f727d1c3cb', class: 'link-href', target: '_blank' %>
            </li>
            <li class="list-group-item border-0">
              <%= link_to 'お問い合わせ', 'https://everyplus.jp/contact', class: 'link-href', target: '_blank' %>
            </li>
            <li class="list-group-item border-0">
              <%= link_to '会社概要', 'https://everyplus.jp/company', class: 'link-href', target: '_blank' %>
            </li>
          </ul>
        </div>
      </div>
      <div class="row align-items-center justify-content-md-center">
        <div class="col-12 mt-2 text-center">
          <%= image_pack_tag 'logo_f.png', alt: "エプリ・プラス" %>
        </div>
      </div>
      <div class="row d-none d-lg-flex justify-content-center">
        <div class="col-2 mt-2 text-center">
          <%= link_to '利用規約', 'https://everyplus.jp/tos/index.html', class: 'link-href', target: '_blank' %>
        </div>
        <div class="col-2 mt-2 text-center">
          <%= link_to '個人情報保護方針', 'https://everyplus.jp/policy_privacy', class: 'link-href', target: '_blank' %>
        </div>
      </div>
      <div class="row align-items-center justify-content-md-center">
        <div class="col-12 mt-4  text-center">
          <span> &copy;株式会社エブリ・プラス. All Rights Reserved.</span>
        </div>
      </div>
    </div>
  </footer>
<% end %>
