<header class="sticky-top">
  <nav class="navbar  navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
      <div class="navbar-brand">
        <%= link_to root_path do %>
          <%= image_pack_tag 'logo.png', width: 170 %>
        <% end %>
        <h1 class="logo-text d-none d-lg-block">すべての人へ選択肢を</h1>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse justify-content-between navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to 'ホーム', root_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://everyplus.jp/service" target="_blank">はじめての方へ</a>
          </li>
          <li class="nav-item">
            <%= link_to 'レク一覧', customers_recreations_path(sort_order: :number_of_recreations_held), class: 'nav-link' %>
          </li>
          <% if user_signed_in? && current_user.role.customer? || current_user.role.admin? %>
            <li class="nav-item">
              <%= link_to 'プラン一覧', customers_recreation_plans_path, class: 'nav-link' %>
            </li>
          <% end %>
          <li class="nav-item px-2">
            <%= form_tag customers_recreations_path, method: :get, class: "d-flex search" do %>
              <div class="input-group mr-sm-2">
                <span class="input-group-text bg-white border-end-0">
                  <i class="material-icons every">search</i>
                </span>
                <%= text_field_tag :title, params[:title], class: 'form-control border-start-0', placeholder: 'キーワードを入力' %>
                <%= submit_tag '検索', class: 'btn btn-csecondar text-white' %>
              </div>
            <% end %>
          </li>
        </ul>

        <ul class="navbar-nav align-items-center ">
          <li class="nav-item">
            <a class="nav-link" href="tel://050-5306-7767">
              <div class="tel-container d-flex align-items-center">
                <span class="material-icons">call</span>
                <div>
                  <span class="tel-top">サービスに関するお問い合わせ</span><br>
                  <span class="tel-center">050-5306-7767</span><br>
                  <span class="tel-bottom">[10:00～18:00（土日祝受付）]</span>
                </div>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <%= link_to 'https://channel.everyplus.jp/', class: 'nav-link font-weight-bold', target: :_blank do %>
              レクチャンネル
            <% end %>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://everyplus.jp/contact">
              困ったら<br>まずはご相談
            </a>
          </li>
          <% if user_signed_in? %>

            <li class="nav-item">
              <% mypage_path = if current_user.role.customer?
                                 customers_path
                               elsif current_user.role.admin?
                                 admin_dashboard_path
                               else
                                 partners_path(is_open: true)
                               end
              %>
              <!-- TODO: リリースのタイミングで有効化する -->
              <%= link_to mypage_path, class: 'nav-link' do %>
                <span class="material-icons mypage">
                    account_circle
                </span> マイページ
              <% end %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'ログイン', new_user_session_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to '無料登録', new_user_registration_path, class: 'nav-link link-join' %>
            </li>
          <% end %>

        </ul>
      </div>
    </div>
  </nav>
</header>
