<main class="top">
  <div class="jumbotron jumbotron-top">
    <% if @top_banner.present? %>
      <%= link_to @top_banner.url, target: '_blank', rel: 'noopener' do%>
        <%= image_tag @top_banner&.image.to_s, class: 'w-100 h-auto', alt: 'ヒーローヘッダー画像', loading: 'lazy' %>
      <% end %>
    <% else %>
      <%= render 'shared/home/hero_header' %>
    <% end %>
    <div class="container px-0 my-2">
      <div class="row">
        <div class="col-md">
          <%= link_to "https://everyplus.jp/wp-content/uploads/2025/01/new_user.pdf", target: '_blank', rel: 'noopener' do%>
            <%= image_pack_tag 'new_user.png', class: 'w-100', alt: '初めての方へ', loading: 'lazy' %>
          <% end %>
        </div>
        <div class="col-md">
          <%= link_to "https://everyplus.jp/content", target: '_blank', rel: 'noopener' do%>
            <%= image_pack_tag 'plan.png', class: 'w-100', alt: 'ご利用施設の活用例', loading: 'lazy' %>
          <% end %>
        </div>
      </div>

      <%= render 'shared/home/evaluations', evaluations: @evaluations %>
      <%= render 'shared/home/search_conditions', tags: @tags, prefectures: @prefectures %>
    </div>
  </div>

  <article class="container px-0 pt-4">
    <div class="row py-3">
      <div class="col-6">
        <h4 class="mt-5 text-black font-weight-bold">訪問おすすめランキング</h4>
      </div>
      <div class="col-6 d-flex justify-content-end">
        <%= link_to customers_recreations_path(kind: 0, sort_order: :number_of_recreations_held), class: "mt-5 text-black font-weight-bold d-none d-lg-block text-decoration-none" do %>
          <button class="look-more fw-bold border-0 py-1 px-2 rounded text-white">もっと見る</button>
        <% end %>
      </div>
    </div>
    <div class="row">
      <% @recommended_visiting_recreations.each do |rec| %>
        <section class="col-sm-6 col-md-4 col-lg-3 my-4">
          <%= render 'shared/home/card', rec: rec %>
        </section>
      <% end %>
    </div>
  </article>

  <article class="container px-0 pt-4">
    <div class="row py-3">
      <div class="col-6">
        <h4 class="mt-5 text-black font-weight-bold">開催数ランキング</h4>
      </div>
      <div class="col-6 d-flex justify-content-end">
        <%= link_to customers_recreations_path(sort_order: :number_of_recreations_held), class: "mt-5 text-black font-weight-bold d-none d-lg-block text-decoration-none" do %>
          <button class="look-more fw-bold border-0 py-1 px-2 rounded text-white">もっと見る</button>
        <% end %>
      </div>
    </div>
    <div class="row">
      <% @popular_recreations.each do |rec| %>
        <section class="col-sm-6 col-md-4 col-lg-3 my-4">
          <%= render 'shared/home/card', rec: rec %>
        </section>
      <% end %>
    </div>
  </article>

  <article class="container px-0 pt-4">
    <div class="row py-3">
      <div class="col-6">
        <h4 class="mt-5 text-black font-weight-bold">新着レク</h4>
      </div>
      <div class="col-6 d-flex justify-content-end">
        <%= link_to customers_recreations_path, class: "mt-5 text-black font-weight-bold d-none d-lg-block text-decoration-none" do %>
          <button class="look-more fw-bold border-0 py-1 px-2 rounded text-white">もっと見る</button>
        <% end %>
      </div>
    </div>
    <div class="row">
      <% @latest_recreations.each do |rec| %>
        <section class="col-sm-6 col-md-4 col-lg-3 my-4">
          <%= render 'shared/home/card', rec: rec %>
        </section>
      <% end %>
    </div>
  </article>
</main>
