<main class="top">
  <div class="jumbotron jumbotron-top">
    <% if @top_banner.present? %>
      <%= link_to @top_banner.url, target: '_blank', rel: 'noopener' do%>
        <%= image_tag @top_banner&.image.to_s, class: 'w-100 h-auto', alt: 'ヒーローヘッダー画像', loading: 'lazy' %>
      <% end %>
    <% else %>
      <%= render 'shared/home/hero_header' %>
    <% end %>
    <div class="container px-0 my-2">
      <div class="row">
        <div class="col-md">
          <%= link_to "https://everyplus.jp/new_user", target: '_blank', rel: 'noopener' do%>
            <%= image_pack_tag 'new_user.png', class: 'w-100', alt: '初めての方へ', loading: 'lazy' %>
          <% end %>
        </div>
        <div class="col-md">
          <%= link_to "https://everyplus.jp/plan", target: '_blank', rel: 'noopener' do%>
            <%= image_pack_tag 'plan.png', class: 'w-100', alt: 'ご利用施設の活用例', loading: 'lazy' %>
          <% end %>
        </div>
      </div>

      <%# <%= render 'shared/home/evaluations', evaluations: @evaluations %>
      <%# <%= render 'shared/home/categories' %>
      <%# <%= render 'shared/home/tags', tags: @tags %>
      <%= render 'shared/home/search_conditions', kinds: @kinds, tags: @tags, prefectures: @prefectures%>
    </div>
  </div>

  <article class="container px-0 pt-4">
    <div class="row py-3">
      <div class="col-12">
        <h5 class="mt-5 text-black font-weight-bold">訪問レク部門　開催数人気ランキング</h5>
      </div>
    </div>
    <div class="row">
      <% @visit_recreations.each do |rec| %>
        <%= render 'shared/home/card', rec: rec %>
      <% end %>
    </div>
  </article>

  <article class="container px-0 pt-4">
    <div class="row py-2">
      <div class="col-12">
        <h5 class="mt-5 text-black font-weight-bold">オンラインレク部門　開催数人気ランキング</h5>
      </div>
    </div>
    <div class="row">
      <% @online_recreations.each do |rec| %>
        <%= render 'shared/home/card', rec: rec %>
      <% end %>
    </div>
  </article>

  <article class="container px-0 pt-4">
    <% cache('home/yoshimoto_section') do %>
      <%= link_to customers_recreations_path(q: { tags_name_eq: '吉本興業' }) do %>
        <%= image_pack_tag 'yoshimoto.png', class: 'w-100', alt: '吉本レク画像', loading: 'lazy' %>
      <% end %>
    <% end %>
    <div class="row py-2">
      <div class="col-12">
        <h5 class="mt-5 text-black font-weight-bold">よしもとのオンラインレク</h5>
      </div>
    </div>
    <div class="row">
      <% @yoshimoto_recs.each do |rec| %>
        <%= render 'shared/home/card', rec: rec %>
      <% end %>
    </div>
  </article>
</main>
