<main class="top">
  <% cache('home/top_section') do %>
    <div class="jumbotron jumbotron-top">
      <div class="container top">
        <h1 class="">利用者さんのやりたいを叶えるレクがここに</h1>
        <h2 class="d-none">300種類以上のレクから検索</h2>
      </div>
      <%= render 'shared/home/categories', categories: @categories %>
    </div>
  <% end %>
  <article class="container top pt-4 px-0">
    <div class="row py-2">
      <div class="col-12">
        <!-- TODO: リリースのタイミングで有効化する -->
        <!-- TODO: Yoshimotoのタグができたらこちらに追加する -->
        <% cache('home/yoshimoto_section') do %>
          <%= link_to customers_recreations_path(q: { tags_id_eq: @yoshimoto&.id }), class: 'nav-link' do %>
            <%= image_pack_tag 'yoshimoto.png', class: "img-fluid", alt: "Responsive image" %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="row py-2">
      <div class="col-12">
        <h1 class="sub-title">よしもとの人気レク</h1>
      </div>
    </div>
    <div class="row">
      <% @yoshimoto_recs.each do |rec| %>
        <%= render 'shared/home/card', rec: rec %>
      <% end %>
    </div>
  </article>
  <article class="container pt-4 px-0">
    <div class="row py-3">
      <div class="col-12">
        <h1 class="sub-title">オンライン旅行の人気レク</h1>
      </div>
    </div>
    <div class="row">
      <% @travel_recs.each do |rec| %>
        <%= render 'shared/home/card', rec: rec %>
      <% end %>
    </div>
  </article>

  <article class="container pt-4 px-0">
    <div class="row py-3">
      <div class="col-12">
        <h1 class="sub-title">オンライン音楽の人気レク</h1>
      </div>
    </div>
    <div class="row">
      <% @music_recs.each do |rec| %>
        <%= render 'shared/home/card', rec: rec %>
      <% end %>
    </div>
  </article>
</main>
