<%= render 'shared/customer/header' %>

<main class="customer">
  <div class="h-100 mt-4">
    <div class="container order-container">
      <div class="row py-3">
        <div class="col-auto font-16 font-weight-bold">依頼履歴</div>
        <div class="col-auto"><%= @orders.size %>件</div>
      </div>
      <div class="row">
        <div class="col-2">
          <%= link_to customers_path(is_open: true, column: :start_at, order: :desc), class: 'btn w-100 btn-cprimary font-14 py-2 px-2 font-weight-bold text-white' do %>
            開催日順
            <br>
            新→古
          <% end %>
        </div>
        <div class="col-2">
          <%= link_to customers_path(is_open: true, column: :status, order: :asc),
            class: 'btn w-100 btn-cprimary font-14 py-2 px-2 font-weight-bold text-white' do %>
            ステータス順
            <br>
            相談中→終了報告承認済み
          <% end %>
        </div>
        <div class="col-2">
          <%= link_to customers_path(is_open: false, order: :asc),
            class: 'btn w-100 btn-cprimary font-14 py-2 px-2 font-weight-bold text-white' do %>
            終了した相談
            <br>
            一覧
          <% end %>
        </div>
      </div>
      </div>
      <div class="row border-bottom py-3">
        <div class="col-2">依頼番号</div>
        <div class="col-2">レク日時</div>
        <div class="col-1 text-truncate">ステータス</div>
        <div class="col-3">レク</div>
        <div class="col-1">人数</div>
        <div class="col-1">合計費用(税別)</div>
        <div class="col-2"></div>
      </div>
    </div>
  </div>
  <div class="h-100">
    <div class="container order-container">
      <% @orders.each do |order| %>
        <div class="row bg-white my-2 py-2 shadow-sm align-items-center">
          <div class="col-2"><%= order.id %></div>
          <div class="col-2"><%= dotted_datetime order.start_at %></div>
          <div class="col-1"><%= I18n.t("customer.order.status.#{order.status}") %></div>
          <div class="col-3 text-2-truncate"><%= order.recreation_title %></div>
          <div class="col-1"><%= order.number_of_people %>人</div>
          <div class="col-1"><%= number_to_currency(order.total_price_for_customer) %></div>
          <div class="col-2">
            <%= link_to '詳細を見る', customers_order_path(order.id), class: 'btn btn-cprimary font-14 py-2 px-4 font-weight-bold text-white' %>
          </div>
          <div class="col-12 pt-2">
            <div class="bg-ba01 border rounded p-3">
              <span class="font-weight-bold">連絡事項</span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</main>
