<main class="detail">
  <div class="container pt-2">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <% @breadcrumbs.each do |b| %>
          <li class="breadcrumb-item"><a href="{{uri}}"><%= b[:name] %></a></li>
        <% end %>
      </ol>
    </nav>
  </div>
  <article class="container py-4 px-0">
    <div class="row">
      <div class="col-md-4">
        <a href="" class="clink "><i class="material-icons ">navigate_before</i> 戻る</a>
        <div class="row align-items-center mt-2">
          <div class="col-md-4">
            <picture loading="lazy">
              <%= image_tag @order.recreation.recreation_images&.first&.image.to_s, class: "img-fluid" %>
            </picture>
          </div>
          <div class="col-md-7 recreation">
            <h1 class="title-b line-height-140"><%= @order.recreation.title %></h1>
            <div class=" category-tags">
              <% @order.recreation.tags.events.each_with_index do |tag, i| %>
                <% if i == 0 %>
                  <a href="{{{catalogTagUri this }}}" class="category-label event" style="background-color: #FD7E14;">#<%= tag.name %></a>
                <% else %>
                  <a href="{{{catalogTagUri this }}}" class="tag-label">#<%= tag.name %></a>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="card mt-3">
          <div class="card-body p-0">
<!--            {{#if item.showCapacity}}-->
<!--            <div class="border-bottom p-2">-->
<!--              <h4 class="title">参加人数制限 {{item.capacity}}人まで</h4>-->
<!--            </div>-->
<!--            {{/if}}-->
            <div class="border-bottom p-2">
              <h4 class="title">所要時間 <%= @order.recreation.minutes %>分</h4>
            </div>
            <div class="p-2">
              <h4 class="title">対象者目安</h4>
              <% @order.recreation.tags.targets.each do |tag| %>
                <div class="text-muted">・<%= tag.name %></div>
              <% end %>
            </div>
            <div class="p-2">
              <%= link_to recreation_path(@order.recreation.id), class: "clink" do %>
                <span class="material-icons-text">レクの詳細を見る</span>
                <i class="material-icons ">navigate_next</i>
              <% end %>
            </div>
          </div>
        </div>

        <div class="card mt-3">
          <h3 class="title-b p-3">レク費用</h3>
          <div class="card-body py-0">
            <div class="row justify-content-between border-bottom-dotted pb-2">
              <div class="col-auto">開催費</div>
              <div class="col-auto">&yen;</div>
            </div>
            <div class="row justify-content-between border-bottom-dotted py-2">
              <div class="col-auto">材料費/1人<br><span
                class="text-muted font-12 color-ba08">※材料費は人数分の費用が発生します</span></div>
              <div class="col-auto">&yen;</div>
            </div>


<!--            {{#if showFacilityTransport}}-->
<!--            {{'交通費 編集モード'}}-->
            <form action="{{catalogHomeUri}}/order/consult/{{order._id}}/update" class="consult" method="POST">
              <input type="hidden" name="_csrf" value="{{csrfToken}}">
              <div class="row justify-content-between border-bottom-dotted py-2">
                <div class="col-3 align-self-center">交通費</div>
                <div class="col-7">
                  <input class="form-control text-end" name="facilityTransportPrice" type="number"
                         id="facilityTransportPrice" min="0" value="{{order.facilityTransportPrice}}">
                </div>
                <div class="col-2 py-0">

                  <button type="submit" name="action" value="transport_upadte"
                          class="btn btn-inline-edit">
                    <i class="material-icons color-pr10">done</i>
                  </button>
                </div>
              </div>
            </form>
<!--            {{else}}-->
<!--            <div class="row justify-content-between border-bottom-dotted py-2">-->
<!--              <div class="col-auto align-self-center">交通費-->
<!--                {{#unless formalRequestDisabled}}-->
<!--                <br>-->
<!--                <a href="{{addGetParam 'tr' 1}}" class="clink">編集</a>-->
<!--                {{/unless}}-->
<!--              </div>-->
<!--              <div class="col-auto">&yen;{{numeral order.facilityTransportPrice}}</div>-->
<!--            </div>-->
<!--            {{/if}}-->
<!--            {{#if showFacilityExtraExpense}}-->
<!--            {{'諸経費 編集モード'}}-->
            <form action="{{catalogHomeUri}}/order/consult/{{order._id}}/update" class="consult" method="POST">
              <input type="hidden" name="_csrf" value="{{csrfToken}}">
              <div class="row justify-content-between py-2">
                <div class="col-3 align-self-center">諸経費</div>
                <div class="col-7">
                  <input class="form-control text-end" name="facilityExtraExpensePrice" type="number"
                         id="facilityExtraExpensePrice" value="{{order.facilityExtraExpensePrice}}">
                </div>
                <div class="col-2 py-0">
                  <button type="submit" name="action" value="extra_expense_update"
                          class="btn btn-inline-edit">
                    <i class="material-icons color-pr10">done</i>
                  </button>
                </div>
              </div>
            </form>
<!--            {{else}}-->
<!--            <div class="row justify-content-between py-2">-->
<!--              <div class="col-auto align-self-center">諸経費-->
<!--                {{#unless formalRequestDisabled}}<br>-->
<!--                <a href="{{addGetParam 'ex' 1}}" class="clink">編集</a>-->
<!--                {{/unless}}-->
<!--              </div>-->
<!--              <div class="col-auto">&yen;{{numeral order.facilityExtraExpensePrice}}</div>-->
<!--            </div>-->
<!--            {{/if}}-->
<!--            {{#if showAdditionalCount}}-->
<!--            {{'追加施設数 編集モード'}}-->
<!--            <form action="{{catalogHomeUri}}/order/consult/{{order._id}}/update" class="consult" method="POST">-->
<!--              <input type="hidden" name="_csrf" value="{{csrfToken}}">-->
<!--              <div class="row justify-content-between border-top-dotted py-2">-->
<!--                <div class="col-3 align-self-center">追加施設数</div>-->
<!--                <div class="col-7">-->
<!--                  <input class="form-control text-end" name="additionalCount" type="number"-->
<!--                         id="additionalCount" value="{{order.additionalCount}}">-->
<!--                </div>-->
<!--                <div class="col-2 py-0">-->
<!--                  <button type="submit" name="action" value="additional_count_update"-->
<!--                          class="btn btn-inline-edit">-->
<!--                    <i class="material-icons color-pr10">done</i>-->
<!--                  </button>-->
<!--                </div>-->
<!--              </div>-->
<!--            </form>-->
<!--            {{else}}-->
<!--            {{#if isOnline}}-->
<!--            <div class="row justify-content-between border-top-dotted py-2">-->
<!--              <div class="col-12 align-self-center">追加施設数 {{order.additionalCount}} 施設<br>-->
<!--                <a href="{{addGetParam 'fc' 1}}" class="clink">編集</a>-->
<!--              </div>-->
<!--              <div class="col-7 align-self-center">追加施設費</div>-->
<!--              <div class="col-auto">-->
<!--                &yen;{{numeral task.additionalPrice}}-->
<!--              </div>-->
<!--              <div col-12>-->
<!--                <span class="text-muted font-12 color-ba08">※1施設追加する事に費用が発生します</span>-->
<!--              </div>-->
<!--            </div>-->
<!--            {{/if}}-->
<!--            {{/if}}-->
            <div class="row justify-content-between border-top py-3">
              <div class="col-auto">合計</div>
              <div class="col-auto">&yen;~</div>
            </div>
            <div class="row justify-content-center  py-3">
              <div class="col-auto">
<!--                {{#if formalRequestDisabled}}-->
<!--                <span class="btn-cpr disabled">レクを正式依頼へ進む</span>-->
<!--                {{else}}-->
                <button id="order-modal" class="btn-cpr" data-bs-toggle="modal"
                        data-bs-target="#orderModal">レクを正式依頼へ進む
                </button>
<!--                {{/if}}-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <%= render 'shared/order/chat', order: @order, chat: @chat %>
      <!-- 正式依頼 フォーム -->
      <!-- Modal -->

      <div class="modal fade" id="orderModal" tabindex="-1" aria-labelledby="orderModalLabel" aria-hidden="true">

        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="orderModalLabel">正式依頼フォーム</h5>
              <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
            </div>
            <div class="modal-body p-2">
              <form action="{{catalogHomeUri}}/order/consult/{{order._id}}" class="order h-adr" method="POST">
                <div class="container-fluid">
                  <div class="row pb-3">
                    <div class="col-auto">
                      <h3 class="title-b p-0">開催したい希望日と時間を選択してください
                        <span class="label required">必須</span>
                      </h3>
                      <span class="text-muted">パートナー都合で希望日時の開催が難しい場合がございます。事前にチャットでの開催日時の相談をお願いします。
                                        </span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">希望日</div>
                    <div class="form-group col-3">
                      {{selectYear "year" desiredOneYear 'dateError'}}
                    </div>
                    <div class="col-auto p-0 flex-v-c">年</div>
                    <div class="form-group col-3">
                      {{selectMonth "month" desiredOneMonth 'dateError'}}
                    </div>
                    <div class="col-auto p-0 flex-v-c">月</div>
                    <div class="form-group col-3">
                      {{selectDay "day" desiredOneDay 'dateError'}}
                    </div>
                    <div class="col-auto p-0 flex-v-c">日</div>
                    {{#if hasError}}
                    <div class="invalid-feedback d-block">
                      <span>{{dateError}}</span>
                    </div>
                    {{/if}}
                  </div>
                  <div class="row">
                    <div class="col-12">希望時間</div>
                    <div class="form-group col-2 pe-0">
                      {{selectHour "hourSt" hourSt 'timeError'}}
                    </div>
                    <div class="col-auto p-0 flex-v-c">:</div>
                    <div class="form-group col-2 pe-0">
                      {{selectMinute "minuteSt" minuteSt 'timeError'}}
                    </div>
                    <div class="col-auto p-0 flex-v-c">~</div>
                    <div class="form-group col-2 pe-0">
                      {{selectHour "hourEn" desiredOneHourEn 'timeError'}}
                    </div>
                    <div class="col-auto p-0 flex-v-c">:</div>
                    <div class="form-group col-2 pe-0">
                      {{selectMinute "minuteEn" minuteEn 'timeError'}}
                    </div>
                    {{#if hasError}}
                    <div class="invalid-feedback d-block">
                      <span>{{timeError}}</span>
                    </div>
                    {{/if}}
                  </div>
                  <div class="row pt-3">
                    <label class="col-12 title-b pb-3" for="participant">希望人数を入力してください<span
                      class="label required">必須</span></label>
                    <div class="form-group col-3">
                      <input class="form-control text-right {{participantFromClass}}" id="participant"
                             name="participant" type="tel" placeholder="半角英数で入力"
                             value="{{order.numberOfPeople}}">
                    </div>
                    <div class="col-auto p-0 flex-v-c">人</div>
                    {{#if hasError}}
                    <div class="invalid-feedback d-block">
                      <span>{{participantError}}</span>
                    </div>
                    {{/if}}
                  </div>
                  {{#if isOnline}}
                  {{'オンラインレク'}}
                  <div class="row pt-3">
                    <label class="col-12 title-b pb-3"
                           for="facilityCount">追加で参加する施設がある場合施設数をご記入ください</label>
                    <div class="form-group col-3">
                      <input class="form-control {{facilityCountFormClass}}" id="facilityCount"
                             name="facilityCount" type="tel" placeholder="施設数を入力"
                             value="{{facilityCount}}">
                    </div>
                    <div class="col-auto p-0 flex-v-c">施設</div>
                    {{#if hasError}}
                    <div class="invalid-feedback d-block">
                      <span>{{facilityCountError}}</span>
                    </div>
                    {{/if}}
                  </div>
                  {{else}}
                  <div class="row pt-3">
                    <span class="p-country-name" style="display:none;">Japan</span>
                    <label class="col-12 title-b pb-3" for="participant"> <span>住所を入力してください</span>
                      <span class="label required">必須</span>
                    </label>
                    <div class="form-group col-6">
                      <label for="postalCode">郵便番号</label>
                      <div class="input-group mb-3">
                        <input class="form-control p-postal-code" size="8" maxlength="8"
                               id="postalCode" name="postalCode" type="tel" placeholder="郵便番号を入力"
                               value="{{order.postalCode}}">
                        <button class="btn btn-outline-secondary p-postal-code-find" type="button"
                                id="button-addon2">検索
                        </button>
                      </div>
                    </div>
                    <div class="form-group col-6">
                      <label for="region">都道府県</label>
                      {{selectPrefecture 'region' order.region}}
                    </div>
                    <div class="form-group col-6">
                      <label for="locality">市区町村</label>
                      <input class="form-control p-locality" id="locality" name="locality" type="tel"
                             placeholder="郵便番号を入力" value="{{order.locality}}">
                    </div>
                    <div class="form-group col-6">
                      <label for="street">町名/番地</label>
                      <input class="form-control p-street-address" id="street" name="street"
                             type="tel" placeholder="郵便番号を入力" value="{{order.street}}">
                    </div>
                    <div class="form-group col-12">
                      <label for="address">建物名</label>
                      <input class="form-control" id="address p-extended-address" name="address"
                             type="tel" placeholder="郵便番号を入力" value="{{order.address}}">
                    </div>
                  </div>
                  {{/if}}
                  {{"小計"}}
                  <div class="card mt-3">
                    <div class="card-body">
                      <h5 class="card-title title-b">レク 費用</h5>
                      <div class="row justify-content-between border-bottom-dotted pb-2">
                        <div class="col-auto">開催費</div>
                        <div class="col-auto">&yen;{{numeral total.facilityPrice}}</div>
                      </div>
                      <div class="row justify-content-between border-bottom-dotted py-2">
                        <div class="col-auto"><span id="participantNum">材料費/{{numeral
                                                    total.participant}}人</span><br><span
                          class="text-muted font-12 color-ba08">※材料費は人数分の費用が発生します</span>
                        </div>
                        <div id="materialPrice" class="col-auto">&yen;{{numeral
                          total.facilityMaterialPrice}}
                        </div>
                      </div>
                      <div class="row justify-content-between border-bottom-dotted pb-2">
                        <div class="col-auto">交通費</div>
                        <div class="col-auto">&yen;{{numeral total.facilityTransportPrice}}
                        </div>
                      </div>
                      <div class="row justify-content-between border-bottom-dotted pb-2">
                        <div class="col-auto">諸経費</div>
                        <div class="col-auto">&yen;{{numeral total.facilityExtraExpensePrice}}
                        </div>
                      </div>
                      {{#if isOnline}}
                      <div class="row justify-content-between border-top-dotted py-2">
                        <div class="col-auto align-self-center">
                          <span id="facilityCountText">追加施設費 / {{total.additionalCount}}施設</span>
                        </div>
                        <div class="col-auto" id="additionalPrice">{{total.facilityAdditionalPrice}}
                        </div>
                        <div class="col-12">
                                                <span class="text-muted font-12 color-ba08">※1施設追加する事に&yen;{{numeral
                                                    order.facilityAdditionalPrice}}が発生します</span>
                        </div>
                      </div>
                      {{/if}}
                      <div class="row justify-content-between border-top py-3">
                        <div class="col-auto">合計</div>
                        <div class="col-auto">&yen;{{numeral total.total}}~</div>
                      </div>
                    </div>
                  </div>
                  <div class="card mt-4">
                    <div class="card-body">
                      <h5 class="card-title title-b">注意事項</h5>
                      <p>・一度承認されたレクのキャンセルはできません。規約に準じた日程の変更は可能です。詳しくは利用規約をご確認ください。</p>
                      <p>・材料費、オンラインレクの追加施設数、諸経費は開催までの間にパートナーとチャットで相談をして変更することが可能です。その場合、金額の変動がございます。
                      </p>
                      <p>・材料費が必要なレクは参加人数が増える場合や減る場合はパートナーとチャット相談をしてくださ　い。人数が減る場合、レクによっては準備した分の材料費分の請
                        求が発生する場合がございます。詳しくはパートナーにご確認をお願い致します。</p>
                    </div>
                  </div>
                  <div class="row justify-content-center py-3">
                    <div class="col-7 mb-3 text-center">
                      <span class="text-muted">※パートナーが承諾をする事で正式に開催が決まります</span>
                    </div>
                    <div class="col-7 text-center">
                      <input type="hidden" name="_csrf" value="{{csrfToken}}">
                      <button id="submit-button" type="submit" name="action" value="preview"
                              class="btn btn-cprimary rounded-pill font-14 py-3 px-4 font-weight-bold text-white"
                              {{submitDisabled}}>
                        <span class="">パートナーにレク開催を正式依頼する</span></button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
  </article>
</main>
<!--{{addJquery}}-->
<!--{{#unless isOnline}}-->
<!--<script src="https://yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>-->
<!--{{/unless}}-->
<!--<script>-->
<!--  jQuery(document).ready(function () {-->
<!--    // var a = document.querySelector('#orderModal');-->
<!--    var modal = document.querySelector('#{{modal}}-modal');-->
<!--    if (modal) {-->
<!--      modal.click();-->
<!--    }-->
<!--    //-->
<!--    $('.chat-container > .card-body').animate({ scrollTop: $('.chat-container > .card-body')[0].scrollHeight }, 'fast');-->
<!--    // チャットメッセージ textarea-->
<!--    jQuery("#message").on("input", function () {-->
<!--      if (jQuery(this).outerHeight() > this.scrollHeight) {-->
<!--        jQuery(this).height(1)-->
<!--      }-->
<!--      while ($(this).outerHeight() < this.scrollHeight) {-->
<!--        if (jQuery(this).height() >= 70) {-->
<!--          break;-->
<!--        }-->
<!--        $(this).height($(this).height() + 1);-->
<!--      }-->
<!--    });-->
<!--    //-->
<!--    $('.p-postal-code-find').click(function () {-->
<!--      let event;-->
<!--      if (typeof Event === "function") {-->
<!--        event = new Event("keyup");-->
<!--      } else {-->
<!--        // 古いブラウザ-->
<!--        event = document.createEvent("Event");-->
<!--        event.initEvent("keyup", true, true);-->
<!--      }-->
<!--      $('#postalCode')[0].dispatchEvent(event)-->
<!--    });-->
<!--    // 材料費計算-->
<!--    $('#participant').on('input', function () {-->
<!--      var participant = $(this).val();-->
<!--      if (participant.match(/^[0-9]+$/)) {-->
<!--        var total = parseInt("{{order.facilityMaterialPrice}}", 10) * participant;-->
<!--        // console.log(total)-->
<!--        $('#participantNum').html('材料費 / ' + participant + '人');-->
<!--        $('#materialPrice').html('&yen;' + total.toLocaleString());-->
<!--      }-->
<!--    });-->
<!--    // 追加参加施設-->
<!--    $('#facilityCount').on('input', function () {-->
<!--      var facilityCount = $(this).val();-->
<!--      if (facilityCount.match(/^[0-9]+$/)) {-->
<!--        var total = parseInt("{{order.facilityAdditionalPrice}}", 10) * facilityCount;-->
<!--        // console.log(total)-->

<!--        // <span id="additionalPriceNum">追加施設費 / {{total.additionalCount}}施設</span>-->
<!--        $('#facilityCountText').html('追加施設費 / ' + facilityCount + '施設');-->
<!--        $('#additionalPrice').html('&yen;' + total.toLocaleString());-->
<!--      }-->
<!--    });-->
<!--  });-->

<!--</script>-->
