<main class="detail">
  <div class="container pt-2">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <% @breadcrumbs.each do |b| %>
          <li class="breadcrumb-item"><a href="{{uri}}"><%= b[:name] %></a></li>
        <% end %>
      </ol>
    </nav>
  </div>

  <article class="container py-4 px-0">
    <div class="row">
      <div class="col-md-4">
        <a href="" class="clink "><i class="material-icons ">navigate_before</i> 戻る</a>
        <div class="row align-items-center mt-2">
          <div class="col-md-4">
            <picture loading="lazy">
              <%= image_tag @recreation.recreation_images&.first.image.to_s, class: "img-fluid" %>
            </picture>
          </div>
          <div class="col-md-7 recreation">
            <h1 class="title-b line-height-140"><%= @recreation.title %></h1>
            <div class=" category-tags">
              <% @recreation.tags.events.each do |tag| %>
                <a href="{{{catalogTagUri this }}}" class="tag-label"><%= tag.name %></a>
              <% end %>
            </div>
          </div>
        </div>
        <h3 class="title-b">レク情報</h3>
        <div class="card ">
          <div class="card-body p-0">
            <!--            {{#if item.showCapacity}}-->
            <!--            <div class="border-bottom p-2">-->
            <!--              <h4 class="title">参加人数制限 {{item.capacity}}人</h4>-->
            <!--              <div class="text-muted">※目安30名様に1名のスタッフ様のサポートをお願い致します。</div>-->
            <!--            </div>-->
            <!--            {{/if}}-->
            <div class="border-bottom p-2">
              <h4 class="title">所要時間 <%= @recreation.minutes %>分</h4>
              <div class="text-muted">※ご要望に合わせてご相談が可能です。基本時間のため、ご要望にあわせて調節が可能です。</div>
            </div>
            <div class="p-2">
              <h4 class="title">対象者目安</h4>
              <% @recreation.tags.targets.each do |tag| %>
                <div class="text-muted">・<%= tag.name %></div>
              <% end %>
            </div>
          </div>
        </div>
        <h3 class="title-b">お借りしたいもの</h3>
        <div class="card ">
          <div class="card-body">
            <p class="text-muted"><%= @recreation.borrow_item %></p>
            <div class="text-muted">※状況にあわせて、変わる可能性がございます。</div>
          </div>
        </div>
        <h3 class="title-b">持ち込むもの</h3>
        <div class="card ">
          <div class="card-body">
            <p class="item-muted "><%= @recreation.bring_your_own_item %></p>
            <div class="text-muted">※状況にあわせて、変わる可能性がございます。</div>
          </div>
        </div>
        <%= render 'shared/home/order_flow' %>
      </div>
      <div class="col-md-7">
        <div class="card ">
          <div class="card-header bg-white">
            相談・依頼フォーム
          </div>
          <%= simple_form_for @order, url: recreation_orders_path(@recreation), html: { class: "consult mt-3" } do |f| %>
            <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
            <div class="card-body">
              <div class="form-group">
                <label for="consultType" class="title-b pb-3">
                  相談と依頼どちらをご希望ですか？
                  <span class="label required">必須</span>
                </label>
                <br>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="order[is_order]" id="consultTypeConsult" value="consult">
                  <label class="form-check-label" for="consultTypeConsult">まずは相談したい</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="order[is_order]" id="consultTypeOrder" value="order">
                  <label class="form-check-label" for="consultTypeOrder">依頼をしたい</label>
                </div>
              </div>
              <div class="form-group">
                <label class="title-b pb-3">開催したい希望日と時間を選択してください</label>
              </div>




              <!-- has_manyを実装 -->
              <div class="d-flex flex-row align-items-stretch">
                <div class="desired-no d-flex align-items-center justify-content-center">
                  <div>1</div>
                </div>
                <div class="flex-fill ps-3">
                  <div class="row">
                    <div class="col-12">希望日</div>
                    <div class="form-group col-3">
                      <select id="dates1" name="order[dates][0][year]" class="form-select "><option style="display: none;">ー</option><option value="2021">2021</option><option value="2022">2022</option></select>
                    </div>
                    <div class="col-auto p-0 flex-v-c">年</div>
                    <div class="form-group col-3">
                      <select id="desiredOneMonth" name="order[dates][0][month]" class="form-select "><option style="display: none;">ー</option><option value="01">01</option><option value="02">02</option><option value="03">03</option><option value="04">04</option><option value="05">05</option><option value="06">06</option><option value="07">07</option><option value="08">08</option><option value="09">09</option><option value="10">10</option><option value="11">11</option><option value="12">12</option></select>
                    </div>
                    <div class="col-auto p-0 flex-v-c">月</div>
                    <div class="form-group col-3">
                      <select id="desiredOneDay" name="order[dates][0][date]" class="form-select "><option style="display: none;">ー</option><option value="01">01</option><option value="02">02</option><option value="03">03</option><option value="04">04</option><option value="05">05</option><option value="06">06</option><option value="07">07</option><option value="08">08</option><option value="09">09</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option></select>
                    </div>
                    <div class="col-auto p-0 flex-v-c">日</div>
                  </div>
                  <div class="row">
                    <div class="col-12">希望時間</div>
                    <div class="form-group col-2 pe-0">
                      <select id="desiredOneHourSt" name="order[dates][0][start_hour]" class="form-select "><option style="display: none;">ー</option><option value="08">08</option><option value="09">09</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option></select>
                    </div>
                    <div class="col-auto p-0 flex-v-c">:</div>
                    <div class="form-group col-2 pe-0">
                      <select id="desiredOneMinuteSt" name="order[dates][0][start_minutes]" class="form-select "><option style="display: none;">ー</option><option value="00">00</option><option value="15">15</option><option value="30">30</option><option value="45">45</option></select>
                    </div>
                    <div class="col-auto p-0 flex-v-c">~</div>
                    <div class="form-group col-2 pe-0">
                      <select id="desiredOneHourEn" name="order[dates][0][end_hour]" class="form-select "><option style="display: none;">ー</option><option value="08">08</option><option value="09">09</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option></select>
                    </div>
                    <div class="col-auto p-0 flex-v-c">:</div>
                    <div class="form-group col-2 pe-0">
                      <select id="desiredOneMinuteEn" name="order[dates][0][end_minutes]" class="form-select "><option style="display: none;">ー</option><option value="00">00</option><option value="15">15</option><option value="30">30</option><option value="45">45</option></select>
                    </div>
                  </div>
                </div>
              </div>


              <div class="row pt-3">
                <label class="col-12 title-b pb-3" for="participant">おおよそ参加予定人数をご記入ください</label>
                <div class="form-group col-3">
                  <input class="form-control {{participantFormClass}}" id="participant" name="participant" type="tel" placeholder="人数を入力">
                </div>
                <div class="col-auto p-0 flex-v-c">人</div>
              </div>

              <div class="row pt-3">
                <label class="col-12 title-b pb-3">参加対象者の状態目安を教えてください</label>
                <div class="form-group col-12">
                  <% Tag.targets.each do |tag| %>
                    <div class="form-check">
                      <input class="form-check-input" name="order[tag_ids][]" type="checkbox" value="<%= tag.id %>"
                             id="targetPersons1">
                      <label class="form-check-label" for="targetPersons1">
                        <%= tag.name %>
                      </label>
                    </div>
                  <% end %>
                </div>
              </div>

              <!-- NOTE(okubo): Prefecturesをreactで制御しているので触らないように!! -->
              <div id="Prefectures" class="row pt-3"></div>
              <div class="form-group  row pt-3">
                <label for="comment" class="col-12 title-b pb-3">相談したいことがありましたらご記入ください</label>
                <div class="col-12" style="position: relative;">
                  <textarea id="comment" name="comment" class="form-control" rows="7" placeholder=""></textarea>
                  <div id="placeholderDiv" style="position: absolute;top: 15px;left: 15px;">
                    例）メイミさん、小林さんこんにちは。<br><br>
                    敬老の日のイベントとしての開催を検討しています。<br>
                    お元気な方が多く、子供っぽいような内容を好まない入居者さんが多いです。<br>
                    そのような方でも楽しむことは対応可能でしょうか？<br>
                    宜しくお願い致します。
                  </div>
                </div>
              </div>

              <div class="row justify-content-center pt-3">
                <div class="col-10">
                  <h4 class="title-b font-14 color-ba08">相談・依頼ボタンをクリックしても、正式に開催が決まるわけではありません。</h4>
                </div>

                <div class="col-6">
                  <button id="submit-button" type="submit" name="action" value="preview"
                          class="btn btn-cprimary rounded-pill w-100 font-14 py-3 px-4 font-weight-bold text-white">
                    <span class="">パートナーにレク開催を相談・依頼する</span></button>
                </div>
              </div>


            </div>
          <% end %>

        </div>
      </div>
    </div>
  </article>
  {{addJquery}}

</main>
