<div class="header">
    <h2 class="text-white font-weight-bold p-2">
      レクリエーション一覧
    </h2>
    <%= render 'shared/partner/sidebar_toggle' %>
</div>

<% @recreations.each do |recreation| %>
  <%= link_to partners_recreation_path(recreation.id) do %>
    <div class="order-wrapper my-2 border-bottom p-3">
      <div class="company_name">
        <h3>
          <%= "#{recreation.title} #{recreation.second_title}".truncate(100) %>
        </h3>
      </div>
      <div class="partner_name">
        <%= recreation.description.truncate(50) %>
      </div>
      <div class="date">
        更新日：<%= dotted_datetime recreation.created_at %>
      </div>
    </div>
  <% end %>
<% end %>
