<div class="header">
  <div>
    <h2 class="text-white font-weight-bold p-2">
      レクリエーション詳細:
      <%= @recreation.title %>
    <%= render 'shared/partner/sidebar_toggle' %>
  </div>
</div>

<div class="body bg-white border p-3 mb-3">
  <div>
    <h4 class="text-black font-weight-bold pt-3">レク情報</h4>
    <table class="w-100">
      <thead>
      <tr class="border-bottom">
        <td class="pt-2 pb-2 w-25"><%= t('activerecord.attributes.recreation.title') %></td>
        <td class="pt-2 pb-2 text-black text-end"><%= @recreation.title  %></td>
      </tr>

      <tr class="border-bottom">
        <td class="pt-2 pb-2 w-25"><%= t('activerecord.attributes.recreation.second_title') %></td>
        <td class="pt-2 pb-2 text-black text-end"><%= @recreation.second_title  %></td>
      </tr>
      <tr class="border-bottom">
        <td class="pt-2 pb-2 w-25"><%= t('activerecord.attributes.recreation.minutes') %></td>
        <td class="pt-2 pb-2 text-black text-end"><%= @recreation.minutes  %></td>
      </tr>

      <tr class="border-bottom">
        <td class="pt-2 pb-2 w-25"><%= t('activerecord.attributes.recreation.description') %></td>
        <td class="pt-2 pb-2 text-black text-end"><%= simple_format @recreation.description  %></td>
      </tr>
      <tr class="border-bottom">
        <td class="pt-2 pb-2 w-25"><%= t('activerecord.attributes.recreation.flow_of_day') %></td>
        <td class="pt-2 pb-2 text-black text-end"><%= simple_format @recreation.flow_of_day  %></td>
      </tr>


      <tr class="border-bottom">
        <td class="pt-2 pb-2 w-25"><%= t('activerecord.attributes.recreation.borrow_item') %></td>
        <td class="pt-2 pb-2 text-black text-end"><%= simple_format @recreation.borrow_item  %></td>
      </tr>
      <tr class="border-bottom">
        <td class="pt-2 pb-2 w-25"><%= t('activerecord.attributes.recreation.bring_your_own_item') %></td>
        <td class="pt-2 pb-2 text-black text-end"><%= simple_format @recreation.bring_your_own_item  %></td>
      </tr>
      <tr class="border-bottom">
        <td class="pt-2 pb-2 w-25"><%= t('activerecord.attributes.recreation.extra_information') %></td>
        <td class="pt-2 pb-2 text-black text-end"><%= simple_format @recreation.extra_information  %></td>
      </tr>

      <tr class="border-bottom">
        <td class="pt-2 pb-2 w-25"><%= t('activerecord.attributes.recreation.youtube_id') %></td>
        <td class="pt-2 pb-2 text-black text-end"><%= @recreation.youtube_id  %></td>
      </tr>
      <tr class="border-bottom">
        <td class="pt-2 pb-2 w-25"><%= t('activerecord.attributes.recreation.capacity') %></td>
        <td class="pt-2 pb-2 text-black text-end"><%= @recreation.capacity  %></td>
      </tr>
      <tr class="border-bottom">
        <td class="pt-2 pb-2 w-25"><%= t('activerecord.attributes.recreation.instructor_amount') %></td>
        <td class="pt-2 pb-2 text-black text-end"><%= @recreation.instructor_amount  %></td>
      </tr>
      <tr class="border-bottom">
        <td class="pt-2 pb-2 w-25"><%= t('activerecord.attributes.recreation.instructor_material_amount') %></td>
        <td class="pt-2 pb-2 text-black text-end"><%= @recreation.instructor_material_amount  %></td>
      </tr>
      <tr class="border-bottom">
        <td class="pt-2 pb-2 w-25"><%= t('activerecord.attributes.recreation.instructor_name') %></td>
        <td class="pt-2 pb-2 text-black text-end"><%= @recreation.instructor_name  %></td>
      </tr>
      <tr class="border-bottom">
        <td class="pt-2 pb-2 w-25"><%= t('activerecord.attributes.recreation.instructor_description') %></td>
        <td class="pt-2 pb-2 text-black text-end"><%= simple_format @recreation.instructor_description  %></td>
      </tr>
      <tr class="border-bottom">
        <td class="pt-2 pb-2 w-25"><%= t('activerecord.attributes.recreation.additional_facility_fee') %></td>
        <td class="pt-2 pb-2 text-black text-end"><%= @recreation.additional_facility_fee  %></td>
      </tr>

      <tr class="border-bottom">
        <td class="pt-2 pb-2 w-25"><%= t('activerecord.attributes.recreation.is_online') %></td>
        <td class="pt-2 pb-2 text-black text-end"><%= @recreation.is_online  %></td>
      </tr>
      <tr class="border-bottom">
        <td class="pt-2 pb-2 w-25">イベント種別</td>
        <td class="pt-2 pb-2 text-black text-end"><%= @recreation.tags.events.map { |tag| tag.name }.compact.join(', ') %></td>
      </tr>

      <tr class="border-bottom">
        <td class="pt-2 pb-2 w-25">カテゴリー</td>
        <td class="pt-2 pb-2 text-black text-end"><%= @recreation.tags.categories.map { |tag| tag.name }.compact.join(', ') %></td>
      </tr>
      <tr class="border-bottom">
        <td class="pt-2 pb-2 w-25">想定ターゲット</td>
        <td class="pt-2 pb-2 text-black text-end"><%= @recreation.tags.targets.map { |tag| tag.name }.compact.join(', ') %></td>
      </tr>
      <tr class="border-bottom">
        <td class="pt-2 pb-2 w-25">登録画像</td>
        <td class="pt-2 pb-2 text-black text-end">
          <% @recreation.recreation_images.each do |image| %>
            <%= image_tag image.image.to_s, width: 100 %>
          <% end %>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

    <%= link_to '編集する', edit_partners_recreation_path(@recreation.id), class: 'text-white btn btn-primary btn-lg btn-block w-100 p-3 mt-2 mb-2' %>
</div>
