<div id="nav" class="sidebar">
  <div class="header d-flex justify-content-between align-items-center">
    <h2 class="p-2">
      Menu
    </h2>
    <button id="close-sidebar" class="btn">&times;</button>
  </div>
  <div class="p-2">
    <%= link_to partners_path do %>
      <div class="sidebar-wrapper my-2 border-bottom">
        <div class="lect_item">
          <i class="fas fa-home fa-lg"></i>
        </div>
        <div class="right_item">案件一覧</div>
      </div>
    <% end %>

    <%= link_to partners_recreations_path do %>
      <div class="sidebar-wrapper my-2 border-bottom">
        <div class="lect_item">
          <i class="far fa-calendar fa-lg"></i>
        </div>
        <div class="right_item">
          レクリエーション一覧
        </div>
      </div>
    <% end %>

    <%= link_to partners_setting_menus_path do %>
      <div class="sidebar-wrapper my-2 border-bottom">
        <div class="lect_item">
          <i class="fas fa-cog fa-lg"></i>
        </div>
        <div class="right_item">設定</div>
      </div>
    <% end %>

    <%= link_to "https://tayori.com/q/everyplus-partner/" do %>
      <div class="sidebar-wrapper my-2 border-bottom">
        <div class="lect_item">
          <i class="far fa-question-circle fa-lg"></i>
        </div>
        <div class="right_item">よくある質問</div>
      </div>
    <% end %>

    <%= link_to "https://tayori.com/q/everyplus-partner/category/107735/" do %>
      <div class="sidebar-wrapper my-2 border-bottom">
        <div class="lect_item">
          <i class="fas fa-book fa-lg"></i>
        </div>
        <div class="right_item">学習コンテンツ</div>
      </div>
    <% end %>

    <%= link_to 'https://drive.google.com/file/d/1FsBuayCcZDgqD6g6xjpf6Xh0Yxgw4Fgy/view', target: '_blank' do %>
      <div class="sidebar-wrapper my-2 border-bottom">
        <div class="lect_item">
          <i class="far fa-sticky-note fa-lg"></i>
        </div>
        <div class="right_item">利用規約</div>
      </div>
    <% end %>

    <%= link_to destroy_user_session_path, method: 'delete' do %>
      <div class="sidebar-wrapper my-2 border-bottom">
        <div class="lect_item">
          <i class="fas fa-sign-out-alt fa-lg"></i>
        </div>
        <div class="right_item">ログアウト</div>
      </div>
    <% end %>
  </div>
</div>
