<main class="auth">
  <div class="container pt-2">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <%= link_to 'トップ', root_path %>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          <span>ログイン</span>
        </li>
      </ol>
    </nav>
  </div>

  <div class="container {{bodyClass}}">
    <div class="row justify-content-center my-5">
      <div class="col-md-8">
        <div class="card p-4">
          <div class="card-body">
            <div class="text-center mb-5">
              <%= image_pack_tag 'logo.png', class: "logo-navbar" %>
            </div>
            <p class="text-muted">ユーザ名とパスワードを入力して下さい。</p>

            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <span class="material-icons">email</span>
                    </span>
                </div>
                <input class="form-control string email required" required="required" aria-required="true" placeholder="メールアドレス" type="email" value="" name="user[email]" id="user_email"/>
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                      <span class="material-icons">lock</span>
                  </span>
                </div>
                <input class="form-control password required form-control" required="required" aria-required="true" type="password" name="user[password]" id="user_password"/>
              </div>

              <div class="row justify-content-between">
                <div class="col-auto text-center">
                  <span class="forgot-password">パスワードを忘れた方は
                    <%= link_to 'こちら', new_user_password_path %>
                  </span>
                </div>
                <div class="col-md-4 text-center">
                  <%= f.button :submit, 'ログイン', class: 'btn btn-cprimary rounded-pill w-100 font-14 py-3 px-4 font-weight-bold text-white' %>
                </div>
              </div>
            <% end %>

          </div>
          <div class="card-body border-top mt-4">
            <div class="row justify-content-center">
              <div class="col-md-4 text-center">
                <%= link_to '新規登録はこちら', new_user_registration_path, class: "registration-link" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
