<main class="order_memo">
  <% channel_plan_subscriber.channel_plan_subscriber_memos.each_with_index do |memo, i| %>
    <div class="body">
      <div class="message"><%= simple_format memo.body %></div>
      <div class="col-auto date"><%= dotted_datetime memo.created_at %></div>
    </div>
  <% end %>

  <div class="form">
    <%= simple_form_for ChannelPlanSubscriberMemo.new, url: admin_channel_plan_subscriber_channel_plan_subscriber_memos_path(channel_plan_subscriber) do |f| %>
      <%= f.input :channel_plan_subscriber_id, as: :hidden, input_html: { value: channel_plan_subscriber.id } %>
      <%= f.input :body, label: false %>
      <%= f.submit '送信' %>
    <% end %>
  </div>
</main>
