<main class="detail">
  <div class="container pt-2">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <%= link_to 'トップ', root_path %>
        </li>
        <li class="breadcrumb-item">
          <%= link_to '一覧', customers_recreations_path %>
        </li>
        <li class="breadcrumb-item active">
          <span class="text-secondary">レビュー一覧</span>
        </li>
      </ol>
    </nav>
  </div>

  <article class="container evaluations-container py-4 px-0">
    <div class="">
      <%= link_to root_path, class: "return-link" do %>
        <p>
          <%= image_pack_tag 'return.svg' %>
          戻る
        </p>
      <% end %>
      <h3 class="title-b font-18 my-1"><%= @evaluations.total_count %>件のレビュー</h3>
      <hr>
    </div>
    <div class="evaluations-container row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      <% @evaluations.each do |evaluation| %>
        <div class="col">
          <%= render 'shared/evaluation/card', evaluation: %>
        </div>
      <% end %>
    </div>

    <div class="mt-4 d-flex justify-content-center fw-bold">
      <%= paginate @evaluations %>
    </div>
  </article>
</main>
