<%= render 'shared/customer/header' %>

<div class="container recreation-estimate-index mt-5">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t('activerecord.attributes.recreation_plan_estimate.estimate_number') %></th>
        <th><%= t('activerecord.attributes.recreation_plan_estimate.number_of_people') %></th>
        <th><%= t('activerecord.attributes.recreation_plan_estimate.start_month') %></th>
        <th><%= t('activerecord.attributes.recreation_plan_estimate.transportation_expenses') %></th>
        <th>発行日</th>
        <th><%= t('activerecord.attributes.recreation_plan_estimate.recreation_plan') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @recreation_plan_estimates.each do |estimate| %>
        <tr>
          <td><%= estimate.estimate_number %></td>
          <td><%= estimate.number_of_people %></td>
          <td><%= estimate.start_month %></td>
          <td><%= estimate.transportation_expenses %></td>
          <td><%= estimate.created_at.strftime("%Y-%m-%d") %></td>
          <td><%= estimate.recreation_plan.title %></td>
          <td><a href="<%= customers_recreation_plan_estimate_path(estimate) %>" class="btn show-button text-white fw-bold">詳細</a></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
