<div class='recreation-plan-estimate text-black mx-auto'>
  <div class='top-section'>
    <h4 class='fw-bold'>御見積書</h4>
    <div class='row'>
      <div class='col-8'>
        <h5>レクリエーションプランのご提案</h5>
        <p class='small-paragraph mt-5'>下記の内容をご確認ください。</p>
        <p class='small-paragraph'>こちらの金額は<%= @recreation_plan_estimate.created_at.strftime('%Y年%m月%d日') %>時点での金額です。</p>
        <div class='row'>
          <div class='top-total-price-section col-6 d-flex align-items-baseline'>
            <p>見積金額</p>
            <div class="d-flex justify-content-end flex-grow-1">
              <p class='total-price fw-bold'><%= @recreation_plan_estimate.total_price.floor.to_s(:delimited) %>円</p>
            </div>
          </div>
          <div class='col-6'>
          </div>
        </div>
      </div>
      <div class='col-4'>
        <div class='row'>
          <div class='col-4'>
            <p class='small-paragraph'>見積日</p>
          </div>
          <div class='col-8'>
            <p class='small-paragraph'><%= @recreation_plan_estimate.created_at.strftime('%Y年%m月%d日') %></p>
          </div>
        </div>
        <div class='row'>
          <div class='col-4'>
            <p class='small-paragraph'>見積書番号</p>
          </div>
          <div class='col-8'>
            <p class='small-paragraph'><%= @recreation_plan_estimate.estimate_number %></p>
          </div>
        </div>
        <p class='middle-paragraph mt-2'>株式会社エブリ・プラス</p>
        <p class='small-paragraph mt-2'>代表取締役 佐藤 亜以</p>
        <p class='small-paragraph mt-1'>〒453-0012</p>
        <p class='small-paragraph mt-1'>愛知県名古屋市中村区井深町１番地１号新名古屋センタービル本陣街２階２４１－１号室</p>
        <p class='small-paragraph mt-1'>TEL 050-5306-7767</p>
      </div>
    </div>
  </div>

  <div class='middle-section mt-4'>
    <div class='row'>
      <p class='title fw-bold py-2'>プラン内容</p>
      <% @recreation_recreation_plans.each_with_index do |plan, index| %>
        <div class="col-4 mt-4">
          <div class="row">
            <div class="col-5 px-0">
              <%= image_tag plan.recreation.recreation_images.sliders.first&.image.to_s, class: "w-100 rounded", loading: 'lazy' %>
            </div>
            <div class="col-7">
              <div class=''><%= plan.recreation.title %></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class='bottom-section mt-4 row'>
    <div class='col-2 ps-0'>
      <div class='title text-center fw-bold py-2'>
        項目
      </div>
    </div>
    <div class='title col-8 text-center fw-bold py-2'>
      内容
    </div>
    <div class='col-2 pe-0'>
      <div class='title text-center fw-bold py-2'>
        金額
      </div>
    </div>

    <div class='event-fee'>
      <% @recreation_recreation_plans.each_with_index do |plan, index| %>
        <div class='<%= 'dot-border' unless index == @recreation_recreation_plans.size - 1 %> px-0'>
          <div class='row'>
            <% if index == 0 %>
              <div class='col-2 text-center py-2'>開催費</div>
            <% else %>
              <div class='col-2 text-center py-2'></div>
            <% end %>
            <div class="col-8 py-2">
              <div class="row">
                <div class='col-4'><%= @recreation_plan_estimate.actual_months[index] %>月開催</div>
                <div class='col-8'><%= plan.recreation.title %></div>
              </div>
            </div>
            <div class="col-2 text-end py-2 pe-0">
              ¥<%= plan.recreation.price.to_s(:delimited) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class='material-fee'>
      <% first_material_fee_displayed = false %>
      <% @has_material_price_recreations.each_with_index do |plan, index| %>
        <div class='row <%= 'dot-border' unless index == @has_material_price_recreations.size - 1 %>'>
          <% unless first_material_fee_displayed %>
            <div class='col-2 text-center py-2'>材料費</div>
            <% first_material_fee_displayed = true %>
          <% else %>
            <div class='col-2 text-center py-2'></div>
          <% end %>
          <div class="col-8 py-2">
            <div class="row">
              <div class='col-10'><%= plan.recreation.title %></div>
              <div class='col-2'>X <%= @recreation_plan_estimate.number_of_people %>人</div>
            </div>
          </div>
          <div class="col-2 text-end py-2 px-0">
            ¥<%= @recreation_plan_estimate.material_price_for_plan(plan).to_s(:delimited) %>
          </div>
        </div>
      <% end %>
    </div>

    <div class='transportation-expenses'>
      <div class='row'>
        <div class='col-2 text-center py-2'>交通費</div>
        <div class="col-8 py-2">
          <div class="row">
            <div class='col-10'><p>1回の交通費</p></div>
            <div class='col-2'>X <%= @recreation_recreation_plans.size %>回</div>
          </div>
        </div>
        <div class="col-2 text-end py-2 px-0">
          ¥<%= @recreation_plan_estimate.transportation_expenses_for_plan(@recreation_recreation_plans).to_s(:delimited) %>
        </div>
      </div>
    </div>

    <div class='bottom-total-price-section py-2'>
      <div class='row'>
        <div class='col-6'>小計</div>
        <div class="col-6 text-end px-0">¥<%= @recreation_plan_estimate.total_price.to_s(:delimited) %></div>
      </div>
      <div class='row'>
        <div class='col-6'>消費税</div>
        <div class="col-6 text-end px-0">¥<%= @recreation_plan_estimate.consumption_tax.floor.to_s(:delimited) %></div>
      </div>
      <div class='row'>
        <div class='col-6 fw-bold total-price'>合計</div>
        <div class="col-6 text-end px-0 total-price">¥<%= @recreation_plan_estimate.total_price.floor.to_s(:delimited) %></div>
      </div>
      <div class='row'>
        <div class='col-6'>利用者一人当たり</div>
        <div class="col-6 text-end px-0">¥<%= @recreation_plan_estimate.total_price_per_person.to_s(:delimited) %></div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    window.print();
  });
</script>
