<% meta_tags_each_page(
  '300種類を超える業界No1の介護レクリーションマッチングサイト',
  'エブリ・プラスは300種類以上の介護レクリエーションを提供しているマッチングサイトです。複数条件から簡単にレクリエーションを簡単検索・発注することが可能です',
  nil, nil) %>

<main class="list">
  <div class="container pt-2">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <%= link_to 'トップ', root_path %>
        </li>
        <!-- NOTE: タグがあればタグをパンクズに入れる -->
        <% if @tag&.present? %>
          <li class="breadcrumb-item">
            <%= link_to '一覧', customers_recreations_path %>
          </li>
          <li class="breadcrumb-item active">
            <span class="text-secondary"><%= @tag.name %></span>
          </li>
        <% else %>
          <li class="breadcrumb-item active">
            <span class="text-secondary">一覧</span>
          </li>
        <% end %>
      </ol>
    </nav>
  </div>

  <article class="container pt-4 px-0">
    <div class="row">
      <% @recs.each do |rec| %>
        <%= render 'shared/home/card', rec: rec %>
      <% end %>
    </div>
    <%= paginate @recs %>
  </article>
</main>
