<% meta_tags_each_page(
  '300種類を超える業界No1の介護レクリーションマッチングサイト',
  'エブリ・プラスは300種類以上の介護レクリエーションを提供しているマッチングサイトです。複数条件から簡単にレクリエーションを簡単検索・発注することが可能です',
  nil, nil) %>

<main class="list">
  <%= form_with url: customers_recreations_path, method: :get, class: "d-flex search border-top shadow", local: true do |f| %>
    <div class="container px-5">
      <div class="container pt-4">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <%= link_to 'トップ', root_path %>
            </li>
            <!-- NOTE: タグがあればタグをパンクズに入れる -->
            <% if @tag&.present? %>
              <li class="breadcrumb-item">
                <%= link_to '一覧', customers_recreations_path %>
              </li>
              <li class="breadcrumb-item active">
                <span class="text-secondary"><%= @tag.name %></span>
              </li>
            <% else %>
              <li class="breadcrumb-item active">
                <span class="text-secondary">一覧</span>
              </li>
            <% end %>
          </ol>
        </nav>
      </div>
      <div class="row">
        <div class="col-3">
          <div class="mx-auto mb-4">
            <div class="serach-forms">
              <div class="nav-item px-2 mt-3">
                <p class="label-size mb-1">レクのカテゴリ</p>
                <%= select_tag :category,
                    options_for_select(Recreation.category.values.map { |v| [v.text, v.value] }, selected: params[:category]),
                    { include_blank: 'すべて', class: 'form-select search-select w-75', onchange: 'this.form.submit();' }
                %>
              </div>

              <div class="nav-item px-2 mt-3">
                <p class="label-size mb-1">レクの形式</p>
                <%= select_tag :kind,
                    options_for_select(Recreation.kind.values.map { |v| [v.text, v.value] }, selected: params[:kind]),
                    { include_blank: 'すべて', class: 'form-select search-select w-75', onchange: 'this.form.submit();' }
                %>
              </div>

              <div class="nav-item px-2 mt-3">
                <p class="label-size mb-1">都道府県</p>
                <%= select_tag :prefecture,
                    options_for_select(@sorted_prefectures, selected: params[:prefecture]),
                    { include_blank: 'すべて', class: 'form-select search-select w-75', onchange: 'this.form.submit();' }
                %>
              </div>

              <div class="nav-item px-2 mt-3">
                <p class="label-size mb-1">レクの金額</p>
                <div class="search-forms">
                  <div>
                    <%= check_box_tag 'price_range[]', '0-10000', params[:price_range]&.include?('0-10000'), id: 'price_0_10000', class: 'form-check-input', onchange: 'this.form.submit();' %>
                    <%= label_tag 'price_0_10000', '0〜 10,000円', class: 'form-check-label' %>
                  </div>

                  <div>
                    <%= check_box_tag 'price_range[]', '10001-20000', params[:price_range]&.include?('10001-20000'), id: 'price_10001_20000', class: 'form-check-input', onchange: 'this.form.submit();' %>
                    <%= label_tag 'price_10001_20000', '10,001〜 20,000円', class: 'form-check-label' %>
                  </div>

                  <div>
                    <%= check_box_tag 'price_range[]', '20001-30000', params[:price_range]&.include?('20001-30000'), id: 'price_20001_30000', class: 'form-check-input', onchange: 'this.form.submit();' %>
                    <%= label_tag 'price_20001_30000', '20,001〜 30,000円', class: 'form-check-label' %>
                  </div>

                  <div>
                    <%= check_box_tag 'price_range[]', '30000-', params[:price_range]&.include?('30000-'), id: 'price_30000_', class: 'form-check-input', onchange: 'this.form.submit();' %>
                    <%= label_tag 'price_30000_', '30,000円以上', class: 'form-check-label' %>
                  </div>
                </div>
              </div>

              <div class="nav-item px-2 mt-3">
                <p class="label-size mb-1">タグ</p>
                <div class="search-forms">
                  <% @tags.each do |tag| %>
                    <div>
                      <%= check_box_tag 'tags[]', tag.name, params[:tags]&.include?(tag.name), id: "tag_#{tag.id}", class: 'form-check-input', onchange: 'this.form.submit();' %>
                      <%= label_tag "tag_#{tag.id}", tag.name, class: 'form-check-label' %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-8">
          <div class="row align-items-center">
            <div class="col-6 d-flex align-items-center">
              <p class="mb-0"><%= @recs_size %>件</p>
            </div>
            <div class="col-6 d-flex justify-content-end align-items-center">
              <p class="me-2 mb-0">並び順</p>
              <div class="">
                <%= select_tag :sort_order,
                    options_for_select(sort_order_options, selected: params[:sort_order]),
                    class: 'form-select search-select', onchange: 'this.form.submit();'
                %>
              </div>
            </div>
          </div>
          <div class="row">
            <% @recs.each do |rec| %>
              <%= render 'shared/home/card', rec: rec %>
            <% end %>
          </div>
        </div>
        <article class="container pt-4 px-0">
          <%= paginate @recs %>
        </article>
      </div>
    </div>
  <% end %>
</main>
