<main class="detail">
  <div class="container pt-2">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <%= link_to 'トップ', root_path %>
        </li>
        <li class="breadcrumb-item">
          <%= link_to '一覧', customers_recreations_path %>
        </li>
        <% category_tag = @recreation.tags.categories&.first %>
        <% if category_tag.present? %>
          <li class="breadcrumb-item">
            <!-- TODO: Tag.categories.firstを表示 + ransack入れる -->
            <%= link_to category_tag.name, customers_recreations_path(q: { tags_id_eq: category_tag.id }) %>
          </li>
        <% end %>
        <li class="breadcrumb-item active">
          <!-- TODO: Tag.categories.firstを表示 + ransack入れる -->
          <span class="text-secondary"><%= @recreation.title %></span>
        </li>
      </ol>
    </nav>
  </div>

  <article class="container py-4 px-0">
    <div class="row">
      <div class="col-md-7">
        <div class="card">
          <div class="card-body p-0">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <% if @recreation.youtube_id? %>
                  <div id="youtubeSection" class="carousel-item active" data-interval="false">
                    <div class="ratio ratio-16x9">
                      <iframe src="https://www.youtube.com/embed/<%= @recreation.youtube_id %>" allowfullscreen></iframe>
                    </div>
                  </div>
                <% end %>

                <% @recreation.recreation_images.each_with_index do |image, i| %>
                  <div class="carousel-item <%= 'active' if @recreation.youtube_id.blank? && i == 0 %>" data-bs-interval="10000">
                    <%= image_tag image&.image.to_s, class: 'd-block w-100 custom-height' %>
                  </div>
                <% end %>
              </div>
              <% if @recreation.youtube_id.nil? %>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
              <% end %>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>

          </div>
          <div class="card-body recreation">
            <div class="d-flex flex-column-reverse">
              <h1 class="card-title"><%= @recreation.title %></h1>
              <h2 class="card-subtitle"><%= @recreation.second_title %></h2>
            </div>
            <div class="category-tags pb-2">
              <%= tags_to_html(@recreation.tags, false) %>
            </div>
            <div class="description border-top py-3">
              <h3>このようなことをやります</h3>
              <p><%= simple_format @recreation.description %></p>
            </div>
            <div class="border-top py-3">
              <h3>当日の流れとタイムスケジュール</h3>
              <p><%= simple_format @recreation.flow_of_day %></p>
            </div>
            <div class="border-top py-3"></div>
            <div class="r-t-a">
              <h3>お借りしたいもの</h3>
              <div class="text-muted">※状況にあわせて、変わる可能性がございます。</div>
              <p class="item-text"><%= simple_format @recreation.borrow_item %></p>
            </div>
            <div class="r-t-a">
              <h3>持ち込むもの</h3>
              <div class="text-muted">※状況にあわせて、変わる可能性がございます。</div>
              <p class="item-text "><%= simple_format @recreation.bring_your_own_item %></p>
            </div>
            <div class="r-t-a">
              <h3>その他</h3>
              <div class="text-muted">※状況にあわせて、変わる可能性がございます。</div>
              <p class="item-text "><%= simple_format @recreation.extra_information %></p>
            </div>
            <div class="">
              <h3>このレクリエーションの講師</h3>
              <div class="row align-items-center">
                <div class="col-md-4 text-center">
                  <%= image_tag @recreation&.instructor_image&.to_s, class: "align-self-center rounded-circle", width: 90 %>
                  <h4><%= @recreation.instructor_name %></h4>
                </div>
                <div class="col-md-8">
                  <h4 class="instructor-position h5"><%= @recreation.instructor_title %></h4>
                  <p class="instructor-content"><%= simple_format @recreation.instructor_description %></p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div id="leftInfo" class="sticky-md-top">
          <div class="card ">
            <div class="card-body">
              <% if user_signed_in? %>
                <% if @recreation.is_public_price %>
                  <h3 class="font-24">¥ <%= price_pipe(@recreation.regular_price) %><span> / 1回あたり</span></h3>
                <% else %>
                  <h3 class="title-b font-20">料金はお問い合わせください</h3>
                  <div class="text-muted">レク料金は非公開となっています。<br>知りたい場合はお問い合わせをしてください。</div>
                <% end %>
              <% else %>
                <h3 class="title-b font-20">会員限定</h3>
                <div class="text-muted">料金をご覧になるには会員登録が必要です。<br>ログインすると表示されます。</div>
              <% end %>
              <div class="border border-bottom-0 p-3">
                <h4 class="title">所要時間 <%= @recreation.minutes %>分</h4>
                <div class="text-muted">※ご要望に合わせてご相談が可能です。基本時間のため、ご要望にあわせて調節が可能です。</div>
              </div>
              <div class="border p-3">
                <h4 class="title">対象者目安</h4>
                <% @recreation.tags.targets.each do |target| %>
                  <div class="text-muted">・<%= target.name %></div>
                <% end %>
              </div>

              <div class="action-area">
                <% if user_signed_in? %>
                  <!-- 0円の場合はslackに飛ばしで営業が対応 -->
                  <% if @recreation.is_public_price %>
                    <%= link_to '相談・依頼する', new_customers_recreation_order_path(@recreation.id), class: "btn-cpr" %>
                  <% else %>
                    <!-- React呼び出し -->
                    <div id="ConsultRecreation" data-recreationId=<%= @recreation.id %>></div>
                  <% end %>
                <% else %>
                  <%= link_to 'ログインして相談・依頼する', new_user_session_path, class: "btn-cpr" %>
                <% end %>
              </div>
            </div>

            <%= render 'shared/home/order_flow' %>
          </div>
        </div>
      </div>
    </div>
  </article>
</main>

<!-- NOTE: trigger経由でpriceModalを発火 -->
<div id="priceModalTrigger" data-bs-toggle="modal" data-bs-target="#priceModal" class="d-none"></div>
<!-- NOTE: reactで制御しているが、要素をnestさせるとclick不可の状態に陥ることあるので、railsで使っている。 -->
<div id="priceModal" class="modal fade" tabindex="-1" aria-labelledby="contact-price-modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">料金をお問い合わせしました</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>「<%= @recreation.title %>」の料金をお問い合わせしました。エブリ・プラスのスタッフからメールで返信致します。少々お待ちください。</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-cprimary rounded-pill text-white" data-bs-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>
