<% order.chats.each_with_index do |chat, i| %>
  <% if i == 0 && chat.id.present? %>
    <div class="row justify-content-center pt-2">
      <div class="col-auto date border rounded-pill"><%= date chat.created_at %></div>
    </div>
  <% elsif chat.created_at&.day != order.chats[i - 1].created_at&.day && chat.id.present? %>
    <div class="row justify-content-center pt-2">
      <div class="col-auto date border rounded-pill"><%= date chat.created_at %></div>
    </div>
  <% end %>

  <!-- パートナー -->
  <% if chat.user_role.partner? %>
    <div class="row justify-content-end pt-2">
      <div class="col-auto align-self-end time"><%= time chat.created_at %></div>
      <div class="col-md-auto customer-text mychat card-header">
        <%= Rinku.auto_link(simple_format(h(chat.message)), :all, 'target="_blank"').html_safe %>
      </div>
    </div>
    <!-- fileがあれば表示させる -->
    <% if chat.file.present? %>
     <div class="row justify-content-end pt-2">
      <div class="col-auto align-self-end time"><%= time chat.created_at %></div>
      <div class="col-md-auto customer-text mychat card-header">
        <%= link_to chat.file.url, class: 'text-white', target: '_blank', rel: 'noopener' do %>
          <i class="fa fa-file" aria-hidden="true" />
          <%= chat.file.file.filename %>
        <% end %>
      </div>
    </div>
    <% end %>
  <% end %>
  <!-- 施設 -->
  <% if chat.user_role.customer? %>
    <div class="row justify-content-start instructor">
      <div class="col-md-auto">
        <div class="name"><%= chat.user&.company&.name %></div>
        <div class="text card-header">
          <%= Rinku.auto_link(simple_format(h(chat.message)), :all, 'target="_blank"').html_safe %>
        </div>
      </div>
      <div class="col-auto align-self-end time"><%= time chat.created_at %></div>
    </div>
  <% end %>
<% end %>
